n8n-workflows/1-capture-transcript.json
{
  "updatedAt": "2026-03-10T00:23:39.003Z",
  "createdAt": "2025-09-29T18:24:20.615Z",
  "id": "CSUlliGpgb4JDqBE",
  "name": "[1] Capture Transcript",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jc4CRi7qGhicuG30OFQwu6Xz5shWf2Jk",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -640
      ],
      "id": "f5911cd7-c1bc-4d03-8e15-14719a247597",
      "name": "New Transcript",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "868fjh16h",
        "includeMarkdownDescription": true
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1904,
        -352
      ],
      "id": "cd8fbb38-46f8-423d-b4bb-c28ff634aa6e",
      "name": "Meeting Types",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2144,
        -128
      ],
      "id": "5165e3e1-ed78-4c62-9fc1-35c18fa84531",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FPFFI1NvOtGMoh30",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1232,
        -352
      ],
      "id": "b44519f1-bf30-4956-9040-30b146b34bb9",
      "name": "Transcript"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        -736
      ],
      "id": "08cb3f2d-4ee6-493c-8977-bfdfad0a3663",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        784,
        -736
      ],
      "id": "8ba90f20-5b02-4fdf-afc0-547dcf928e2e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "options": {
          "reasoningEffort": "medium",
          "timeout": 200000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2704,
        -128
      ],
      "id": "58a8765d-beea-413f-b878-ec31107546cd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FPFFI1NvOtGMoh30",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        -352
      ],
      "id": "4323abc4-9f93-4562-bcc8-f00210ccffa2",
      "name": "Meeting Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "444392b8-63c4-4cb2-8c84-5511b10fecd7",
              "name": "sourceUrl",
              "value": "={{ $('If Valid File').item.json.webContentLink ||$('If Valid File').item.json.webViewLink.split('?').first() }}",
              "type": "string"
            },
            {
              "id": "923bcc36-eda9-4cfc-a5a9-4cbd5aaf0ca9",
              "name": "transcriptFileName",
              "value": "={{ $('If Valid File').item.json.name }}",
              "type": "string"
            },
            {
              "id": "293220db-1d68-41dc-80aa-740433c5e814",
              "name": "modifiedTime",
              "value": "={{ $('If Valid File').item.json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "05131963-606c-4103-8a65-1cf59d770934",
              "name": "createdTime",
              "value": "={{ $('If Valid File').item.json.createdTime }}",
              "type": "string"
            },
            {
              "id": "945589b0-2cf0-454c-b33e-d108e89e7cc8",
              "name": "transcriptContents",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "61438841-2e54-48b4-8a30-09e984fb7359",
              "name": "source",
              "value": "gdrive",
              "type": "string"
            },
            {
              "id": "b73ce3b8-8787-43bd-b6d9-710e695b63ea",
              "name": "sourceId",
              "value": "={{ $('If Valid File').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -832
      ],
      "id": "5e2a6b20-7497-4f04-a6de-fe887c5a9a69",
      "name": "Pull File Metadata"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate meeting notes for this meeting:\n{{ $json.toJsonString() }}\n\n<TRANSCRIPT>\n{{ $('Transcript').item.json.toJsonString() }}\n</TRANSCRIPT>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Meeting Notes Prompt').item.json.markdown_description }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2768,
        -352
      ],
      "id": "627a1c03-acdc-419e-9aea-c5d3d784c5b9",
      "name": "Meeting Note Agent",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<MEETING TYPES>\n{{ $json.markdown_description }}\n</MEETING TYPES>\n\n<LIST OF CLIENTS & PROSPECTS>\nFrom clients data table, which has current live clients, prospects, and former clients\n</LIST OF CLIENTS & PROSPECTS>\n\n<TRANSCRIPT>\n{{ $('Transcript').item.json.toJsonString() }}\n</TRANSCRIPT>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a precise meeting classifier. Read the meeting type reference and the transcript, then output STRICT JSON (no markdown, no commentary) with exactly this schema:\n\n{\n  \"topLevelBucket\": \"string\",\n  \"categories\": [\"string\"]\n}\n\nINSTRUCTIONS\n1) Parse `meetingTypes` to determine:\n   a) The valid top-level buckets (e.g., \"Internal\", \"Client\", \"Vendor / Partner\", \"Personal\", \"Other External\") — treat whatever appears in meetingTypes as authoritative.\n   b) For each bucket, its allowed subcategory labels (category names only; ignore definitions except for meaning).\n\n2) Choose exactly ONE `topLevelBucket` that best fits the transcript based on:\n   - Attendee composition (internal-only vs client/vendor/external).\n   - Meeting purpose (status, sales, delivery, demo, interview, networking, personal, etc.).\n   If multiple buckets seem plausible, select the single most likely based on strongest textual evidence (attendees > purpose > agenda keywords).\n\n3) `categories` must include ONLY subcategories that belong to the chosen `topLevelBucket`. \n   - Include 1–3 subcategories that best match the transcript. \n   - If none clearly match, return an empty array: [].\n\n4) Do not invent category names. Use exact strings from `meetingTypes`. Prefer precise matches; if synonyms appear in transcript, map them to the closest defined subcategory.\n\n5) If the transcript is fragmentary or ambiguous, still pick the most likely top-level bucket using available cues; keep `categories` minimal and accurate.\n\nOUTPUT RULES\n- Output a single JSON object only, no extra text.\n- Keys must be exactly: \"topLevelBucket\", \"categories\".\n- Use double quotes for all strings. No trailing commas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2128,
        -352
      ],
      "id": "22d71013-e16b-4910-a225-18aa61edae9d",
      "name": "Categorization Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07a2ebed-8066-47bb-8bcf-b5a7a86d211e",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "6489fbff-06a8-4bdb-953a-2adca4eef5f0",
              "name": "source",
              "value": "circleback",
              "type": "string"
            },
            {
              "id": "a4cbc806-33df-44ef-ad13-5b3f83b16aa5",
              "name": "sourceId",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "dcad81bc-318a-4297-82b5-cf35c2e21408",
              "name": "transcriptContents",
              "value": "={{ $json.transcriptContents }}",
              "type": "string"
            },
            {
              "id": "af6bd6ef-8d91-450b-a885-2dc279c27339",
              "name": "sourceUrl",
              "value": "=https://app.circleback.ai/view/{{ $json.body.id }}?tab=notes",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -352
      ],
      "id": "b62039da-47e9-4603-91ab-54e5e4821bcf",
      "name": "Circleback Meeting"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9011763462",
        "space": "90113618058",
        "folderless": true,
        "list": "=901112175170",
        "name": "={{ $json.meeting_name }}",
        "additionalFields": {
          "content": "={{ $json.meeting_notes_markdown }}",
          "markdownContent": true,
          "startDate": "={{ $json.metadata.date ||$('Transcript').item.json.createdTime  }}"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3968,
        -592
      ],
      "id": "03149f90-0842-4ff3-b714-cd9511ab5d85",
      "name": "Create Meeting Note",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "868fk8wwz",
        "includeMarkdownDescription": true
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1680,
        -352
      ],
      "id": "6398b804-1dad-4e5b-8f8c-2475f0982d74",
      "name": "Meeting Notes Prompt",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "gbUMm2ADZughCW2a",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/gbUMm2ADZughCW2a"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "source",
              "keyValue": "={{ $('Transcript').item.json.source || 'unknown' }}"
            },
            {
              "keyName": "sourceId",
              "keyValue": "={{ $('Transcript').item.json.sourceId || $execution.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $('Transcript').item.json.source || 'unknown' }}",
            "sourceId": "={{ $('Transcript').item.json.sourceId || $execution.id }}",
            "name": "={{ $('Meeting Analysis').item.json.meeting_name }}",
            "date": "={{ $('Meeting Analysis').item.json.metadata.date }}",
            "taskId": "={{ $json.id }}",
            "bucket": "={{ $('Meeting Type').item.json.topLevelBucket }}",
            "notes": "={{ $('Meeting Analysis').item.json.meeting_notes_markdown.base64Encode() }}",
            "overview": "={{ $json.overview }}",
            "transcript": "={{ String($('Transcript').item.json.transcriptContents || '').base64Encode() }}",
            "metadata": "={{ Object.assign({},\n$('Meeting Type').item.json,\n$('Meeting Analysis').item.json.metadata,\n).toJsonString() }}",
            "sourceUrl": "={{ $('Transcript').item.json.sourceUrl }}",
            "notesUrl": "=https://app.clickup.com/t/{{ $json.id }}",
            "calendarEventUid": "={{ $('Transcript').item.json.body?.icalUid || $('Transcript').item.json.icalUid || null }}",
            "attendeeNames": "={{ $('Meeting Analysis').item.json.metadata.attendees?.map(a => a.name).filter(Boolean).join(', ') ?? '' }}",
            "attendeeEmails": "={{ $('Meeting Analysis').item.json.metadata.attendees?.map(a => a.email).filter(Boolean).join(', ') ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sourceId",
              "displayName": "sourceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "overview",
              "displayName": "overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slackNotificationThreadId",
              "displayName": "slackNotificationThreadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insightsCreatedAt",
              "displayName": "insightsCreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "creatingTasksAt",
              "displayName": "creatingTasksAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "createdTasksAt",
              "displayName": "createdTasksAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "storedTranscriptUrl",
              "displayName": "storedTranscriptUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "notesUrl",
              "displayName": "notesUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "followupDraftId",
              "displayName": "followupDraftId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "exportedToSheetAt",
              "displayName": "exportedToSheetAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "calendarEventUid",
              "displayName": "calendarEventUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "attendeeNames",
              "displayName": "attendeeNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "attendeeEmails",
              "displayName": "attendeeEmails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4416,
        -448
      ],
      "id": "92dc8b0e-4905-424c-82bb-ac88ccb3f552",
      "name": "Upsert Meeting Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source }}",
                    "rightValue": "gdrive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de5485a3-b748-41be-88d4-4110f5f0afc6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gdrive"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4864,
        -448
      ],
      "id": "777e7fc0-7549-47ba-b0ba-8f8fe72f5551",
      "name": "Cleanup By Source"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BtXrccLHc4cZA0vR",
          "mode": "list",
          "cachedResultUrl": "/workflow/BtXrccLHc4cZA0vR",
          "cachedResultName": "[3] Create CRM Insights"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "meetingNoteId": "={{ $json.id }}"
          },
          "matchingColumns": [
            "toJsonString"
          ],
          "schema": [
            {
              "id": "meetingNoteId",
              "displayName": "meetingNoteId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5536,
        -352
      ],
      "name": "Call [3] Create CRM Insights",
      "id": "abe605fc-3570-4b29-93e0-973ba7378004"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gbUMm2ADZughCW2a",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/gbUMm2ADZughCW2a"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "source",
              "keyValue": "={{ $json.source || 'unknown' }}"
            },
            {
              "keyName": "sourceId",
              "keyValue": "={{ String($json.sourceId|| `n8n-execution-${$execution.id}`) }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1456,
        -352
      ],
      "id": "0b8fbf32-5481-49e2-ac99-ee82b9777d63",
      "name": "Existing Meeting Note",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3696,
        -80
      ],
      "id": "69d1ad09-1b14-4f41-ab86-95dd2e9f3f84",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "FPFFI1NvOtGMoh30",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an overview.\n---\n{{ $json.metadata.toJsonString() }}\n---\n{{ $json.meeting_notes_markdown}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Generate a plain text overview of the meeting optimized for search and discoverability, 1500 characters max. Include the meeting date, attendees and high-level overview of meeting objective and keywords.\n\nFormat for human and search engines like:\nA meeting on {date} with {attendees}. \nTopics discussed:\n- ...\n- ...\n- ...\nHighlights:\n- ...\n- ..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3616,
        -304
      ],
      "id": "b0fcc801-5c1a-4080-b5fd-bf68d45f3c44",
      "name": "Meeting Overview"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.sourceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "addParents",
              "value": "1UW9DrbE_LEa4zPmNo23b9vFH3sP6JCIR"
            },
            {
              "name": "fields",
              "value": "id,name,description,parents,properties"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": {{$json.name.toJsonString()}},\n    \"description\": {{$json.fileDescription.toJsonString()}},\n    \"properties\": {\n      \"meetingNoteId\": \"{{$('Upsert Meeting Note').item.json.id}}\",\n      \"clickupTaskId\": \"{{ $('Upsert Meeting Note').item.json.taskId }}\"\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5088,
        -640
      ],
      "id": "194957b8-8070-4e7d-9d40-9e3b32550b79",
      "name": "Update GDrive File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "293cf577-cc2b-4191-908e-77fe58ed94f2",
              "name": "overview",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3968,
        -304
      ],
      "id": "3fe96195-4680-422d-a882-ac035ccb53d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4192,
        -448
      ],
      "id": "b0a3499d-b60d-4b57-9c11-eb649244a41d",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a20dee1b-b1a6-45ac-8283-e33fe0608810",
              "leftValue": "={{ $('Existing Meeting Note').item.json.taskId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3680,
        -592
      ],
      "id": "d63688f5-9cd0-4e6e-b272-9c34f3de02de",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Bnq5qZXSemo1JjL8",
          "mode": "list",
          "cachedResultName": "Dex Contacts",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/Bnq5qZXSemo1JjL8"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "first_name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `Case-Insensitive, partial match for first name`, 'string') }}"
            },
            {
              "keyName": "last_name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Value', `Case-Insensitive, partial match for last name`, 'string') }}"
            },
            {
              "keyName": "emails",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions2_Value', `Case-Insensitive, partial match for email`, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2832,
        -128
      ],
      "id": "3703547f-aa7b-44c1-a210-7379938b7fa6",
      "name": "Find_Contacts"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6e6bOgtFJ0DAQVsO",
          "mode": "list",
          "cachedResultName": "Clickup Clients",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/6e6bOgtFJ0DAQVsO"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `Case-Insensitive, partial match for name (company name or internal nickname)`, 'string') }}"
            },
            {
              "keyName": "company_name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Value', `Case-Insensitive, partial match for company name`, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2960,
        -128
      ],
      "id": "026d8130-ee3f-4cf1-a03f-c9e81207f2df",
      "name": "Find_Clients"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "addParents",
              "value": "1UW9DrbE_LEa4zPmNo23b9vFH3sP6JCIR"
            },
            {
              "name": "fields",
              "value": "id,name,description,parents,properties"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"⚠️ {{ $json.name}}\",\n    \"description\":{{`⚠️ Invalid file type. ${$json.description||''}`.toJsonString()}}\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -544
      ],
      "id": "f4a0ba4f-2eb2-4c2f-8cee-573788b2f588",
      "name": "Update Invalid GDrive File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n// Input: item.json.trancript\n// Output: { transcriptContents: string }\n\nfunction formatAsCircleback(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) return 'No transcript available';\n  return arr.map(t => {\n    const sec = Math.max(0, Math.floor(Number(t?.timestamp || 0)));\n    const hh = String(Math.floor(sec / 3600)).padStart(2, '0');\n    const mm = String(Math.floor((sec % 3600) / 60)).padStart(2, '0');\n    const ss = String(sec % 60).padStart(2, '0');\n    const speaker = (t?.speaker ?? 'Unknown').toString();\n    const text = (t?.text ?? '').toString();\n    return `[${hh}:${mm}:${ss} ${speaker}] ${text}`;\n  }).join('\\n');\n}\n\nfunction toTranscriptContents(anyVal) {\n  if (typeof anyVal === 'string') {\n    return anyVal || 'No transcript available';\n  }\n  if (Array.isArray(anyVal)) {\n    // Assume Circleback format\n    return formatAsCircleback(anyVal);\n  }\n  try {\n    return JSON.stringify(anyVal);\n  } catch {\n    return String(anyVal ?? 'No transcript available');\n  }\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const t = item.json.body?.transcript || item.json.transcript || item.json.notes;\n  if (item.json.body?.transcript)\n    delete item.json.body.transcript\n  out.push({\n    json: {\n      ...item.json,\n      transcriptContents: toTranscriptContents(t),\n    }\n  });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -352
      ],
      "id": "50368f1c-293e-47db-a3d0-3cc69e373442",
      "name": "Flatten Transcript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -832
      ],
      "id": "dc97ae83-e924-4eed-9244-d073848b9712",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1jc4CRi7qGhicuG30OFQwu6Xz5shWf2Jk",
            "mode": "list",
            "cachedResultName": "@ Meeting Transcripts for Abel",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1jc4CRi7qGhicuG30OFQwu6Xz5shWf2Jk"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        -832
      ],
      "id": "859fc91d-789c-49d3-9c91-df5f0b8872ee",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.exportLinks['text/markdown'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -928
      ],
      "id": "54304e5e-65ab-4e06-b360-2c572d8521fe",
      "name": "Download as Text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "gbUMm2ADZughCW2a",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/gbUMm2ADZughCW2a"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Upsert Meeting Note').item.json.id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "storedTranscriptUrl": "=https://drive.google.com/file/d/{{$json.id}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sourceId",
              "displayName": "sourceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "overview",
              "displayName": "overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "slackNotificationThreadId",
              "displayName": "slackNotificationThreadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insightsCreatedAt",
              "displayName": "insightsCreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "creatingTasksAt",
              "displayName": "creatingTasksAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "createdTasksAt",
              "displayName": "createdTasksAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "storedTranscriptUrl",
              "displayName": "storedTranscriptUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5312,
        -448
      ],
      "id": "01b08e42-a9c5-49b4-b600-c45d49271ca4",
      "name": "Upsert Stored Source Url - Gdrive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,description,parents,properties"
            },
            {
              "name": "uploadType",
              "value": "multipart"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "multipart/related; boundary=bndrz_001",
        "body": "=--bndrz_001\nContent-Type: application/json; charset=UTF-8\n\n{\n    \"name\": {{$json.name.toJsonString()}},\n    \"mimeType\": \"text/markdown\",\n    \"parents\": [\"1UW9DrbE_LEa4zPmNo23b9vFH3sP6JCIR\"],\n    \"description\": {{$json.fileDescription.toJsonString()}},\n    \"properties\": {\n      \"meetingNoteId\": \"{{$('Upsert Meeting Note').item.json.id}}\",\n      \"clickupTaskId\": \"{{ $('Upsert Meeting Note').item.json.taskId }}\"\n    }\n  }\n--bndrz_001\nContent-Type: text/markdown; charset=UTF-8\n\n# {{ $('Meeting Analysis').item.json.meeting_name }}\n\n{{$json.metadataList}},\n---\n\n## Transcript\n\n{{ $('Transcript').item.json.transcriptContents }}\n--bndrz_001--",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5088,
        -448
      ],
      "id": "33b6dff0-da7c-4a26-a471-56a03424ff90",
      "name": "Create GDrive File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $('Existing Meeting Note').item.json.taskId }}",
        "updateFields": {
          "content": "={{ $json.meeting_notes_markdown }}",
          "markdownContent": true,
          "name": "={{ $json.meeting_name }}",
          "startDate": "={{ $json.metadata.date ||$('Transcript').item.json.createdTime  }}"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3968,
        -784
      ],
      "id": "f1603f5d-e1af-45a9-a936-5c57ee000e96",
      "name": "Update Meeting Note",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37f90346-be97-4585-8b45-8de1ad9674d6",
              "leftValue": "={{ $json.exportLinks?.['text/x-markdown'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "368ccf60-4fe5-46ca-87fe-b54809204bf7",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "text/",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -832
      ],
      "id": "96497b1a-6700-46d6-8b91-5c02a8ea6471",
      "name": "If Export as Markdown"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C091K3MRWQ4",
          "mode": "list",
          "cachedResultName": "meeting-flups"
        },
        "text": "=*{{ $json.name }}*\nI couldn't extract a transcript from this document ({{ $('If Valid File').item.json.mimeType }}).\n---\n{{ $('If Valid File').item.json.webViewLink }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        560,
        -544
      ],
      "id": "119a1cdd-a6bc-417a-ada2-9f330a5f49cd",
      "name": "Send Invalid File Type Msg",
      "webhookId": "38ff0336-f5f0-4b22-b2b0-10cc67099512",
      "credentials": {
        "slackApi": {
          "id": "DvovCyTPlCPUoL2k",
          "name": "Abel N8N Token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b76b688-5c16-4903-9b4e-7101b685b910",
              "name": "fileDescription",
              "value": "={{$('Meeting Analysis').item.json.metadata.title}} | {{$('Meeting Analysis').item.json.metadata.type}} Meeting\n{{ $json.notesUrl }}\n---\n{{ Object.entries($('Meeting Analysis').item.json.metadata)\n  .map(([k,v]) => {\n    if (k === 'attendees' && Array.isArray(v)) {\n      const formatted = v\n        .map(a => {\n          const name = a.name || '';\n          const email = a.email || '';\n          if (name && email) return `${name} <${email}>`;\n          if (name) return name;\n          if (email) return email;\n          return '';\n        })\n        .filter(Boolean)\n        .join(', ');\n      return `- ${k}: ${formatted}`;\n    }\n    return `- ${k}: ${v}`;\n  })\n  .join('\\n') }}\n---\n{{$json.overview }}",
              "type": "string"
            },
            {
              "id": "ebdb4783-9589-4ff0-9a95-4736a3c1db44",
              "name": "metadataList",
              "value": "={{ Object.entries($('Meeting Analysis').item.json.metadata)   .map(([k,v]) => {     if (k === 'attendees' && Array.isArray(v)) {       const formatted = v         .map(a => {           const name = a.name || '';           const email = a.email || '';           if (name && email) return `${name} <${email}>`;           if (name) return name;           if (email) return email;           return '';         })         .filter(Boolean)         .join(', ');       return `- ${k}: ${formatted}`;     }     return `- ${k}: ${v}`;   })   .join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4640,
        -448
      ],
      "id": "3c23313d-3aea-4e7b-bedf-adc48d6a5a7e",
      "name": "Set File Description"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b04fca0f-ccca-40f5-be01-6628761ba0f8",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "text/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "e47c2a24-3367-4c56-b1ae-95a7ac2a5eda",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "=application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -736
      ],
      "id": "f6ce1e98-4308-4a7e-898e-0b39043aec06",
      "name": "If Valid File"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "18300eaa-2f30-4557-91d4-2eab40d6d5a5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        560,
        -352
      ],
      "id": "1f8dfcae-a5e6-4413-af69-79980e742eed",
      "name": "Circleback Webhook",
      "webhookId": "18300eaa-2f30-4557-91d4-2eab40d6d5a5"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code / Function node\n * Replaces {DECISION_LOG} in meeting_notes_markdown with a formatted Markdown table.\n */\n\nfunction escapeMD(s = \"\") {\n  // Escape pipes and convert newlines in cell values to <br>\n  return String(s)\n    .replace(/\\|/g, \"\\\\|\")\n    .replace(/\\r?\\n/g, \" <br> \")\n    .trim();\n}\n\nfunction formatDate(d) {\n  if (!d) return \"\";\n  const iso = /^\\d{4}-\\d{2}-\\d{2}$/;\n  if (iso.test(d)) return d;\n  const parsed = new Date(d);\n  if (!isNaN(parsed)) {\n    const y = parsed.getFullYear();\n    const m = String(parsed.getMonth() + 1).padStart(2, \"0\");\n    const day = String(parsed.getDate()).padStart(2, \"0\");\n    return `${y}-${m}-${day}`;\n  }\n  return escapeMD(d);\n}\n\nfunction buildDecisionTable(decisions = []) {\n  const header =\n    \"| **Decision** | **Owner** | **Date** | **Risk if Wrong** | **Follow-on Actions** |\\n\" +\n    \"|---|---|---|---|---|\";\n\n  const rows = decisions.map(d => {\n    const title   = escapeMD(d.title);\n    const owner   = escapeMD(d.owner);\n    const date    = formatDate(d.date);\n    const risk    = escapeMD(d.risk);\n    const actions = escapeMD(d.actions);\n\n    return `| ${title} | ${owner} | ${date} | ${risk} | ${actions} |`;\n  });\n\n  return [header, ...rows].join(\"\\n\");\n}\n\nreturn items.map(item => {\n  const obj = item.json ?? {};\n  const md  = obj.meeting_notes_markdown || \"\";\n  const decisions = Array.isArray(obj.decisions) ? obj.decisions : [];\n\n  const table = buildDecisionTable(decisions);\n\n  let outputMD = md;\n\n  if (md.includes(\"{DECISION_LOG}\")) {\n    outputMD = md.replace(\"{DECISION_LOG}\", table);\n  } else {\n    // fallback if merge field missing\n    const headingRegex = /(##\\s*2\\)\\s*Key Decisions[^\\n]*\\n)/i;\n    if (headingRegex.test(md)) {\n      outputMD = md.replace(headingRegex, `$1\\n${table}\\n`);\n    } else {\n      outputMD = `${md}\\n\\n${table}`;\n    }\n  }\n\n  return {\n    json: {\n      ...obj,\n      decisions: undefined,\n      meeting_notes_markdown: outputMD,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        -352
      ],
      "id": "23d161e0-58e9-4c06-ba55-e27ad40c1fcc",
      "name": "Meeting Analysis"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        -352
      ],
      "id": "a0c5348f-77f2-475e-a7c7-7c7d9ae4f23f",
      "name": "Meeting Analysis_Raw"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nJjSCB6OcIYSHMel",
          "mode": "list",
          "cachedResultUrl": "/workflow/nJjSCB6OcIYSHMel",
          "cachedResultName": "Export Meeting Notes to Google Sheets"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "meetingId": "={{ $json.id }}"
          },
          "matchingColumns": [
            "meetingId"
          ],
          "schema": [
            {
              "id": "meetingId",
              "displayName": "meetingId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5536,
        -736
      ],
      "id": "e56fc1a1-7eb6-4f19-9a19-bb653350f4f5",
      "name": "Call 'Export Meeting Notes to Google Sheets'",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cz9cNXAGAdJqGlS3",
          "mode": "list",
          "cachedResultUrl": "/workflow/cz9cNXAGAdJqGlS3",
          "cachedResultName": "[2] Notify of Meeting Tasks"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "meetingNoteId": "={{ $json.id }}"
          },
          "matchingColumns": [
            "meetingNoteId"
          ],
          "schema": [
            {
              "id": "meetingNoteId",
              "displayName": "meetingNoteId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5536,
        -544
      ],
      "name": "Call [2] Notify of Meeting Tasks",
      "id": "62d8b9a8-726b-460a-8790-da7a8dc02ad1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "body",
              "type": "any"
            },
            {
              "name": "source"
            },
            {
              "name": "sourceId"
            },
            {
              "name": "transcriptContents"
            },
            {
              "name": "sourceUrl"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1008,
        -160
      ],
      "id": "26aa6cb6-127c-431b-8642-4d7475b1b165",
      "name": "CUSTOM TRANSCRIPT"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6e6bOgtFJ0DAQVsO",
          "mode": "list",
          "cachedResultName": "Clickup Clients",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/6e6bOgtFJ0DAQVsO"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `Case-Insensitive, partial match for name (company name or internal nickname)`, 'string') }}"
            },
            {
              "keyName": "company_name",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Value', `Case-Insensitive, partial match for company name`, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2272,
        -128
      ],
      "id": "e1537022-6a4f-4051-af4a-4ec9d2b325d8",
      "name": "Find_Clients1"
    }
  ],
  "connections": {
    "Meeting Types": {
      "main": [
        [
          {
            "node": "Categorization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Categorization Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "New Transcript": {
      "main": [
        [
          {
            "node": "If Valid File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pull File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript": {
      "main": [
        [
          {
            "node": "Existing Meeting Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Meeting Note Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Type": {
      "main": [
        [
          {
            "node": "Meeting Note Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull File Metadata": {
      "main": [
        [
          {
            "node": "Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Note Agent": {
      "main": [
        [
          {
            "node": "Meeting Analysis_Raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorization Agent": {
      "main": [
        [
          {
            "node": "Meeting Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Circleback Meeting": {
      "main": [
        [
          {
            "node": "Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Meeting Note": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Notes Prompt": {
      "main": [
        [
          {
            "node": "Meeting Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Meeting Note": {
      "main": [
        [
          {
            "node": "Set File Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup By Source": {
      "main": [
        [
          {
            "node": "Update GDrive File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GDrive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Meeting Note": {
      "main": [
        [
          {
            "node": "Meeting Notes Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Meeting Overview",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update GDrive File": {
      "main": [
        [
          {
            "node": "Upsert Stored Source Url - Gdrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Overview": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upsert Meeting Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Meeting Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Meeting Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find_Contacts": {
      "ai_tool": [
        [
          {
            "node": "Meeting Note Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find_Clients": {
      "ai_tool": [
        [
          {
            "node": "Meeting Note Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Transcript": {
      "main": [
        [
          {
            "node": "Circleback Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If Valid File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download as Text": {
      "main": [
        [
          {
            "node": "Pull File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GDrive File": {
      "main": [
        [
          {
            "node": "Upsert Stored Source Url - Gdrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Meeting Note": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Export as Markdown": {
      "main": [
        [
          {
            "node": "Download as Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Invalid GDrive File": {
      "main": [
        [
          {
            "node": "Send Invalid File Type Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Stored Source Url - Gdrive": {
      "main": [
        [
          {
            "node": "Call [2] Notify of Meeting Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call [3] Create CRM Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Export Meeting Notes to Google Sheets'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Description": {
      "main": [
        [
          {
            "node": "Cleanup By Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid File": {
      "main": [
        [
          {
            "node": "If Export as Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Invalid GDrive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Circleback Webhook": {
      "main": [
        [
          {
            "node": "Flatten Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Analysis_Raw": {
      "main": [
        [
          {
            "node": "Meeting Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Analysis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Meeting Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CUSTOM TRANSCRIPT": {
      "main": [
        [
          {
            "node": "Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find_Clients1": {
      "ai_tool": [
        [
          {
            "node": "Categorization Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Ka01FqAuhDXin0Kn"
  },
  "staticData": {
    "node:New Transcript": {
      "lastTimeChecked": "2025-12-16T22:05:52Z"
    },
    "node:Schedule Trigger": {
      "recurrenceRules": [
        16
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "2fdb2a82-9cd2-41cc-b2e5-8a1ab46b59dc",
  "activeVersionId": "2fdb2a82-9cd2-41cc-b2e5-8a1ab46b59dc",
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-03-10T00:11:31.515Z",
      "createdAt": "2026-03-10T00:11:31.515Z",
      "id": "L1wo431MCPrwlBMG",
      "name": "export"
    },
    {
      "updatedAt": "2026-01-01T21:31:31.119Z",
      "createdAt": "2026-01-01T21:31:31.119Z",
      "id": "erv2iAT6He287ePS",
      "name": "Abel Meeting Assistant"
    }
  ]
}