n8n-workflows/6-export-meeting-notes-to-google-sheets.json
{
  "updatedAt": "2026-03-10T00:17:39.015Z",
  "createdAt": "2025-11-18T18:46:38.183Z",
  "id": "nJjSCB6OcIYSHMel",
  "name": "[6] Export Meeting Notes to Google Sheets",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -48
      ],
      "id": "eba137f9-229c-44b1-b0e2-f718c0900de0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gbUMm2ADZughCW2a",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/gbUMm2ADZughCW2a"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "exportedToSheetAt",
              "condition": "isEmpty"
            },
            {
              "keyName": "notesUrl",
              "condition": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        320,
        -144
      ],
      "id": "3c3509f6-7ca5-4a88-8da8-8d104a111f96",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gbUMm2ADZughCW2a",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/gbUMm2ADZughCW2a"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "exportedToSheetAt",
              "condition": "isNotEmpty"
            },
            {
              "keyName": "notesUrl",
              "condition": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        96,
        48
      ],
      "id": "bae38916-17bf-49f6-9108-1be40d44eabc",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1C0dB58lX7yfmLvbLlMXIB_1L7FBNsW8PFhVAYx8wWCc",
          "mode": "list",
          "cachedResultName": "Meetings Processed by Abel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C0dB58lX7yfmLvbLlMXIB_1L7FBNsW8PFhVAYx8wWCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1467212997,
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C0dB58lX7yfmLvbLlMXIB_1L7FBNsW8PFhVAYx8wWCc/edit#gid=1467212997"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Clickup Notes": "={{ $json.notesUrl }}",
            "Date": "={{ $json.date }}",
            "Name": "={{ $json.name }}",
            "Transcript File": "={{ $json.storedTranscriptUrl }}",
            "Description": "={{ $json.overview }}",
            "Attendees": "={{ $json.attendeeNames }}",
            "Source modified At": "={{ $json.updatedAt }}",
            "Kind": "={{ JSON.parse($json.metadata).metadata?.topLevelBucket?.map(a => `${a.name} ${a.email||''}`.trim())?.join('|') || '' }}",
            "Attendee Emails": "={{ $json.attendeeEmails }}"
          },
          "matchingColumns": [
            "Clickup Notes"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Attendees",
              "displayName": "Attendees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clickup Notes",
              "displayName": "Clickup Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcript File",
              "displayName": "Transcript File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kind",
              "displayName": "Kind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source modified At",
              "displayName": "Source modified At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Attendee Emails",
              "displayName": "Attendee Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        48
      ],
      "id": "83f5fee1-2069-4d9b-b6e5-0eb4b6c4e1c7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "80VJb4L9NWLlKxVM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "gbUMm2ADZughCW2a",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/gbUMm2ADZughCW2a"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "notesUrl",
              "keyValue": "={{ $json['Clickup Notes'] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "exportedToSheetAt": "={{  $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sourceId",
              "displayName": "sourceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "overview",
              "displayName": "overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "slackNotificationThreadId",
              "displayName": "slackNotificationThreadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insightsCreatedAt",
              "displayName": "insightsCreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "creatingTasksAt",
              "displayName": "creatingTasksAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "createdTasksAt",
              "displayName": "createdTasksAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "storedTranscriptUrl",
              "displayName": "storedTranscriptUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "notesUrl",
              "displayName": "notesUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "followupDraftId",
              "displayName": "followupDraftId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "exportedToSheetAt",
              "displayName": "exportedToSheetAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        992,
        48
      ],
      "id": "a500b1aa-cc89-4ecb-b947-c2598a628bb2",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef4cd982-8d81-4016-af6e-bd87206e9380",
              "leftValue": "={{ $json.exportedToSheetAt }}",
              "rightValue": "={{ $json.updatedAt }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        320,
        48
      ],
      "id": "8979006c-fe17-4c8a-b74a-27c6a4dc5f5c",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        -48
      ],
      "id": "485e2fb9-a446-47ce-a078-d842a2df974d",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "meetingId",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        240
      ],
      "id": "28a74933-68fc-4ef3-a815-e5a22b5bace8",
      "name": "INPUT"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gbUMm2ADZughCW2a",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/gbUMm2ADZughCW2a"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.meetingId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        240
      ],
      "id": "3d638e3e-0e55-4a57-ae2b-fe62e449e28c",
      "name": "Find Meeting by Id"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INPUT": {
      "main": [
        [
          {
            "node": "Find Meeting by Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Meeting by Id": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        18
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "725a506a-fb0f-415c-af09-b913497d7957",
  "activeVersionId": "725a506a-fb0f-415c-af09-b913497d7957",
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-03-10T00:11:31.515Z",
      "createdAt": "2026-03-10T00:11:31.515Z",
      "id": "L1wo431MCPrwlBMG",
      "name": "export"
    },
    {
      "updatedAt": "2026-01-01T21:31:31.119Z",
      "createdAt": "2026-01-01T21:31:31.119Z",
      "id": "erv2iAT6He287ePS",
      "name": "Abel Meeting Assistant"
    }
  ]
}