n8n-workflows/7b-pre-meeting-delta.json
{
  "name": "[7b] Pre-Meeting Agenda Delta",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "id": "trigger-7b-001",
      "name": "Every 15 Min"
    },
    {
      "parameters": {
        "jsCode": "// Check if we're in business hours (8 AM - 7 PM ET, Mon-Fri)\nconst now = new Date();\nconst etOptions = { timeZone: 'America/New_York' };\nconst etHour = parseInt(now.toLocaleString('en-US', { ...etOptions, hour: 'numeric', hour12: false }));\nconst dayName = now.toLocaleString('en-US', { ...etOptions, weekday: 'short' });\n\nconst isWeekday = !['Sat', 'Sun'].includes(dayName);\nconst isBusinessHours = etHour >= 8 && etHour < 19;\n\nif (!isWeekday || !isBusinessHours) {\n  return [];\n}\n\nreturn {\n  checkTime: now.toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "check-business-hours-001",
      "name": "Check Business Hours"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nwyXScDBE1Sitgiw",
          "mode": "id"
        },
        "filters": {
          "conditions": []
        },
        "limit": 50
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [440, 300],
      "id": "get-upcoming-agendas-001",
      "name": "Get All Agendas",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Filter to agendas where meeting is within next 30 minutes\n// AND not refreshed in the last 20 minutes (avoid rapid re-fires)\nconst now = new Date();\nconst window30min = new Date(now.getTime() + 30 * 60 * 1000);\nconst cooldown20min = new Date(now.getTime() - 20 * 60 * 1000);\n\nconst agendas = $input.all();\nconst upcoming = [];\n\nfor (const item of agendas) {\n  const meetingTime = new Date(item.json.meetingTime);\n  const lastRefreshed = new Date(item.json.lastRefreshed);\n\n  const isUpcoming = meetingTime > now && meetingTime <= window30min;\n  const cooldownPassed = lastRefreshed < cooldown20min;\n  const hasTask = item.json.agendaTaskId && item.json.agendaTaskId !== '';\n\n  if (isUpcoming && cooldownPassed && hasTask) {\n    upcoming.push(item.json);\n  }\n}\n\nif (upcoming.length === 0) return [];\n\nreturn upcoming;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "id": "filter-upcoming-001",
      "name": "Filter Upcoming (30 min)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.clientListId }}/task",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "statuses[]", "value": "to do" },
            { "name": "statuses[]", "value": "in progress" },
            { "name": "statuses[]", "value": "not started" },
            { "name": "statuses[]", "value": "update required" },
            { "name": "subtasks", "value": "true" },
            { "name": "include_closed", "value": "true" },
            { "name": "page", "value": "0" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 140],
      "id": "check-tasks-001",
      "name": "Check Tasks Current",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://public.missiveapp.com/v1/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "organization",
              "value": "c7be17b4-c416-4d3a-b20d-62a89a261016"
            },
            {
              "name": "shared_label",
              "value": "={{ $('Filter Upcoming (30 min)').item.json.missiveLabelId }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 340],
      "id": "check-emails-001",
      "name": "Check Emails Current",
      "credentials": {
        "httpBearerAuth": {
          "id": "naMGpImlvunQE8Zi",
          "name": "Missive"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gbUMm2ADZughCW2a",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/gbUMm2ADZughCW2a"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "ilike",
              "keyValue": "={{ '%' + $('Filter Upcoming (30 min)').item.json.clientName + '%' }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [940, 540],
      "id": "check-notes-001",
      "name": "Check Notes Current",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Compare current state against stored state from last refresh\nconst stored = $('Filter Upcoming (30 min)').first().json;\n\n// Current tasks hash\nlet currentTasksHash = '';\ntry {\n  const taskData = $('Check Tasks Current').first().json;\n  const tasks = taskData.tasks || [];\n  currentTasksHash = tasks.map(t => t.id + ':' + (t.status?.status || '')).sort().join('|');\n} catch(e) {}\n\n// Current email timestamp (Missive uses last_activity_at)\nlet currentEmailTs = '';\ntry {\n  const emailData = $('Check Emails Current').first().json;\n  const convos = emailData.conversations || [];\n  if (convos.length > 0) {\n    currentEmailTs = String(convos[0].last_activity_at || '');\n  }\n} catch(e) {}\n\n// Current meeting note ID\nlet currentNoteId = '';\ntry {\n  const noteData = $('Check Notes Current').first().json;\n  currentNoteId = noteData.taskId || noteData.id?.toString() || '';\n} catch(e) {}\n\n// Compare\nconst tasksChanged = currentTasksHash !== (stored.lastTasksHash || '');\nconst emailsChanged = currentEmailTs !== (stored.lastEmailTimestamp || '');\nconst notesChanged = currentNoteId !== (stored.lastMeetingNoteId || '');\n\nif (!tasksChanged && !emailsChanged && !notesChanged) {\n  return []; // Nothing new\n}\n\nconst changes = [];\nif (tasksChanged) changes.push('task status changed');\nif (emailsChanged) changes.push('new email received');\nif (notesChanged) changes.push('new meeting note processed');\n\nreturn {\n  hasChanges: true,\n  changeSummary: changes.join(', '),\n  eventId: stored.eventId,\n  agendaTaskId: stored.agendaTaskId,\n  clientName: stored.clientName,\n  clientListId: stored.clientListId || '',\n  meetingTitle: stored.meetingTitle,\n  meetingTime: stored.meetingTime,\n  attendees: stored.attendees || '[]',\n  pass: 'pre-meeting'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "detect-changes-001",
      "name": "Detect Changes"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "id": "={{ $json.agendaTaskId }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [1420, 300],
      "id": "fetch-current-desc-001",
      "name": "Fetch Current Description",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare input for the Tool workflow — use stored attendees and clientName\nconst changes = $('Detect Changes').first().json;\nconst existing = $input.first().json;\n\nreturn {\n  eventId: changes.eventId,\n  meetingTitle: changes.meetingTitle,\n  meetingTime: changes.meetingTime,\n  attendees: changes.attendees,\n  pass: 'pre-meeting',\n  existingAgendaTaskId: changes.agendaTaskId,\n  existingDescription: existing.description || existing.content || '',\n  clientName: changes.clientName\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 300],
      "id": "prep-delta-input-001",
      "name": "Prep Delta Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PCJgjIFbUUf7u2mU",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1860, 300],
      "id": "call-assemble-delta-001",
      "name": "Call: Assemble Agenda"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "nwyXScDBE1Sitgiw",
          "mode": "id"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "eventId",
              "keyValue": "={{ $json.eventId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lastRefreshed": "={{ $json.lastRefreshed }}",
            "lastTasksHash": "={{ $json.tasksHash }}",
            "lastEmailTimestamp": "={{ $json.latestEmailTimestamp }}",
            "lastMeetingNoteId": "={{ $json.latestMeetingNoteId }}",
            "pass": "pre-meeting"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "lastRefreshed", "displayName": "lastRefreshed", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "lastTasksHash", "displayName": "lastTasksHash", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "lastEmailTimestamp", "displayName": "lastEmailTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "lastMeetingNoteId", "displayName": "lastMeetingNoteId", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "pass", "displayName": "pass", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [2080, 300],
      "id": "update-tracking-001",
      "name": "Update Tracking"
    },
    {
      "parameters": {
        "channel": "#meeting-flups",
        "text": "=*Agenda Updated: {{ $('Detect Changes').first().json.clientName }} — {{ DateTime.fromISO($('Detect Changes').first().json.meetingTime).toFormat('h:mm a') }}*\nPre-meeting refresh: {{ $('Detect Changes').first().json.changeSummary }}\n<https://app.clickup.com/t/{{ $('Detect Changes').first().json.agendaTaskId }}|Open in ClickUp>",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2300, 300],
      "id": "slack-delta-notify-001",
      "name": "Slack Delta Notify",
      "credentials": {
        "slackApi": {
          "id": "DvovCyTPlCPUoL2k",
          "name": "Abel N8N Token"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 15 Min": {
      "main": [
        [
          {
            "node": "Check Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          {
            "node": "Get All Agendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Agendas": {
      "main": [
        [
          {
            "node": "Filter Upcoming (30 min)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Upcoming (30 min)": {
      "main": [
        [
          {
            "node": "Check Tasks Current",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tasks Current": {
      "main": [
        [
          {
            "node": "Check Emails Current",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Emails Current": {
      "main": [
        [
          {
            "node": "Check Notes Current",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Notes Current": {
      "main": [
        [
          {
            "node": "Detect Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Changes": {
      "main": [
        [
          {
            "node": "Fetch Current Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Current Description": {
      "main": [
        [
          {
            "node": "Prep Delta Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Delta Input": {
      "main": [
        [
          {
            "node": "Call: Assemble Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call: Assemble Agenda": {
      "main": [
        [
          {
            "node": "Update Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tracking": {
      "main": [
        [
          {
            "node": "Slack Delta Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "errorWorkflow": "Ka01FqAuhDXin0Kn"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69b353989b2e2524b2186ce2c707a5fca1ffefa89656be27d70fffcaf2744be4"
  },
  "tags": []
}
