n8n-workflows/8-daily-brief.json
{
  "updatedAt": "2026-03-10T00:11:42.836Z",
  "createdAt": "2026-03-06T15:50:39.580Z",
  "id": "wxxNioSdxeaUMCGe",
  "name": "[8] Daily Brief",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1936,
        912
      ],
      "id": "ad64034f-6c1d-486b-b2d5-afeb1db5a898",
      "name": "7:45 AM Weekday Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alex@ahbadvisors.com",
          "mode": "id"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ day: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2608,
        112
      ],
      "id": "c5369d76-6747-4dc7-8df4-1656f024eb4c",
      "name": "GCal: Today's Events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NWVOUqg1ysw03vVr",
          "name": "AHB Advisors Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blockTitlesRaw = $('Reclaim Block Titles').first().json.reclaimBlockTitles || '';\nconst blockPatterns = blockTitlesRaw.split(',').map(s => s.trim().toLowerCase()).filter(Boolean);\n\nconst events = $input.all().map(item => {\n  const e = item.json;\n  const start = e.start?.dateTime || e.start?.date;\n  const isAllDay = !e.start?.dateTime;\n  const title = e.summary || '(No title)';\n  const titleLower = title.toLowerCase().trim();\n\n  // Work block = title matches one of the configured Reclaim block patterns\n  // Edit the \"Reclaim Block Titles\" node to add/remove patterns (comma-separated)\n  const isWorkBlock = blockPatterns.some(p => titleLower.startsWith(p) || titleLower === p);\n\n  // Metadata flag — did Reclaim touch this event?\n  const desc = (e.description || '').toLowerCase();\n  const id = (e.id || '').toLowerCase();\n  const isReclaim = id.startsWith('reclaim0') ||\n    desc.includes('reclaim.ai') || desc.includes('reclaim</a>');\n\n  const attendees = (e.attendees || [])\n    .filter(a => a.email !== 'alex@ahbadvisors.com')\n    .map(a => ({\n      email: a.email,\n      name: a.displayName || a.email.split('@')[0],\n      responseStatus: a.responseStatus\n    }));\n\n  return {\n    json: {\n      eventId: e.id,\n      title,\n      startTime: start,\n      endTime: e.end?.dateTime || e.end?.date,\n      isAllDay,\n      isReclaim,\n      isWorkBlock,\n      location: e.location || null,\n      attendees,\n      attendeeCount: attendees.length,\n      calendarLink: e.htmlLink,\n      description: e.description || ''\n    }\n  };\n});\n\nreturn events.length > 0 ? events : [{ json: { events: [], message: 'No events today' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        112
      ],
      "id": "b795c0ec-b51b-4bb5-9cb0-328faab218d7",
      "name": "Format Calendar",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "team": "9011763462",
        "space": "90113618058",
        "folder": "90114444483",
        "list": "901107582941",
        "filters": {
          "dueDateGt": "={{ DateTime.now().setZone('America/New_York').minus({days: 1}).startOf('day').toISO() }}",
          "dueDateLt": "={{ DateTime.now().setZone('America/New_York').endOf('day').toISO() }}",
          "includeClosed": false,
          "statuses": [
            "in progress",
            "not started"
          ]
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2608,
        304
      ],
      "id": "b93ab1cc-92cd-4565-959a-aadaccc246e6",
      "name": "CU: Meeting Agendas",
      "alwaysOutputData": true,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Native ClickUp node returns each task as a separate item\nconst items = $input.all();\nconst agendas = items.map(item => {\n  const t = item.json;\n  return {\n    taskId: t.id,\n    name: t.name,\n    description: (t.description || '').substring(0, 500),\n    dueDate: t.due_date,\n    url: t.url,\n    tags: (t.tags || []).map(tag => tag.name)\n  };\n}).filter(a => a.taskId);\n\nreturn [{ json: { agendas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        304
      ],
      "id": "5b72fca7-267a-425d-9aa4-bd9e9956f5e0",
      "name": "Format Agendas",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v2/team/9011763462/task",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "assignees[]",
              "value": "120026283"
            },
            {
              "name": "include_closed",
              "value": "false"
            },
            {
              "name": "subtasks",
              "value": "false"
            },
            {
              "name": "order_by",
              "value": "due_date"
            },
            {
              "name": "reverse",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        496
      ],
      "id": "82897e29-2ca4-4aa9-8769-6225ffd8345f",
      "name": "CU: My Tasks (Alex)",
      "alwaysOutputData": true,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allTasks = $input.first().json.tasks || [];\n// Exclude meeting agenda tasks — already shown in calendar section\nconst AGENDA_LIST_ID = '901107582941';\nconst tasks = allTasks.filter(t => t.list?.id !== AGENDA_LIST_ID);\nconst now = Date.now();\nconst todayStart = new Date(); todayStart.setHours(0, 0, 0, 0);\nconst todayEnd = new Date(); todayEnd.setHours(23, 59, 59, 999);\nconst todayEndMs = todayEnd.getTime();\nconst threeDaysMs = todayEndMs + 3 * 86400000;\n\nconst categorized = {\n  overdue: [],\n  dueToday: [],\n  upcoming: [],\n  noDueDate: []\n};\n\nfor (const t of tasks) {\n  const due = t.due_date ? parseInt(t.due_date) : null;\n  const daysOverdue = due ? Math.floor((now - due) / 86400000) : 0;\n\n  const task = {\n    taskId: t.id,\n    name: t.name,\n    status: t.status?.status || 'unknown',\n    dueDate: t.due_date,\n    dueDateFormatted: due ? new Date(due).toLocaleDateString('en-US', { month: 'short', day: 'numeric' }) : 'No date',\n    daysOverdue: daysOverdue > 0 ? daysOverdue : 0,\n    priority: t.priority?.priority || 'normal',\n    list: t.list?.name || 'Unknown',\n    url: t.url,\n    tags: (t.tags || []).map(tag => tag.name)\n  };\n\n  if (!due) {\n    categorized.noDueDate.push(task);\n  } else if (due < todayStart.getTime()) {\n    categorized.overdue.push(task);\n  } else if (due <= todayEndMs) {\n    categorized.dueToday.push(task);\n  } else if (due <= threeDaysMs) {\n    categorized.upcoming.push(task);\n  }\n  // Tasks due >3 days out are excluded from the brief\n}\n\nreturn [{ json: { myTasks: categorized } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        496
      ],
      "id": "407e393d-4574-4c22-bff9-6beb0d39cf78",
      "name": "Categorize My Tasks",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "team": "9011763462",
        "space": "90113618058",
        "folder": "90114444483",
        "list": "901113252663",
        "filters": {
          "includeClosed": false,
          "orderBy": "created",
          "statuses": [
            "in progress"
          ]
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2608,
        688
      ],
      "id": "80a34414-e4e2-4508-8095-492312b52b69",
      "name": "CU: Weekly Goals",
      "alwaysOutputData": true,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Native ClickUp node returns each task as a separate item\nconst items = $input.all();\nconst current = items[0]?.json;\nif (!current || !current.id) return [{ json: { weeklyGoals: null, message: 'No weekly goals task found' } }];\n\nconst checklists = current.checklists || [];\nlet totalItems = 0;\nlet completedItems = 0;\nconst goals = [];\n\nfor (const cl of checklists) {\n  for (const item of (cl.items || [])) {\n    totalItems++;\n    if (item.resolved) completedItems++;\n    goals.push({\n      name: item.name,\n      resolved: item.resolved,\n      section: cl.name\n    });\n  }\n}\n\nreturn [{\n  json: {\n    weeklyGoals: {\n      taskId: current.id,\n      taskName: current.name,\n      url: current.url,\n      totalItems,\n      completedItems,\n      completionPct: totalItems > 0 ? Math.round((completedItems / totalItems) * 100) : 0,\n      goals\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        688
      ],
      "id": "2d20f5f2-2c5c-491c-b61c-e18d2f39c214",
      "name": "Parse Weekly Goals",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v2/team/9011763462/task",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "assignees[]",
              "value": "248566802"
            },
            {
              "name": "include_closed",
              "value": "false"
            },
            {
              "name": "due_date_lt",
              "value": "={{ DateTime.now().setZone('America/New_York').endOf('day').toMillis() }}"
            },
            {
              "name": "order_by",
              "value": "due_date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        880
      ],
      "id": "4a3fd7f0-9079-41f1-96de-52659f03e69d",
      "name": "CU: Kendra Tasks",
      "alwaysOutputData": true,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.first().json.tasks || [];\nreturn [{\n  json: {\n    kendraTasks: tasks.map(t => ({\n      taskId: t.id,\n      name: t.name,\n      status: t.status?.status || 'unknown',\n      dueDate: t.due_date,\n      list: t.list?.name || 'Unknown',\n      url: t.url\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        880
      ],
      "id": "8b1cb159-8d3b-48f7-9da1-7ce4343b56f8",
      "name": "Format Kendra",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v2/team/9011763462/task",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "assignees[]",
              "value": "87390158"
            },
            {
              "name": "include_closed",
              "value": "false"
            },
            {
              "name": "due_date_lt",
              "value": "={{ DateTime.now().setZone('America/New_York').endOf('day').toMillis() }}"
            },
            {
              "name": "order_by",
              "value": "due_date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1072
      ],
      "id": "0f4c17fc-7c08-4e85-a688-768ff652ed54",
      "name": "CU: Tyler Tasks",
      "alwaysOutputData": true,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.first().json.tasks || [];\nreturn [{\n  json: {\n    tylerTasks: tasks.map(t => ({\n      taskId: t.id,\n      name: t.name,\n      status: t.status?.status || 'unknown',\n      dueDate: t.due_date,\n      list: t.list?.name || 'Unknown',\n      url: t.url\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1072
      ],
      "id": "1b93e3e5-a048-4ca4-90a1-5db22cf33c14",
      "name": "Format Tyler",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v2/team/9011763462/task",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "statuses[]",
              "value": "to do"
            },
            {
              "name": "statuses[]",
              "value": "in progress"
            },
            {
              "name": "statuses[]",
              "value": "not started"
            },
            {
              "name": "include_closed",
              "value": "false"
            },
            {
              "name": "due_date_lt",
              "value": "={{ DateTime.now().setZone('America/New_York').plus({days: 3}).endOf('day').toMillis() }}"
            },
            {
              "name": "order_by",
              "value": "due_date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1264
      ],
      "id": "9ceff961-a0f4-429e-8440-fedaa3f2df76",
      "name": "CU: Others' Tasks",
      "alwaysOutputData": true,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.first().json.tasks || [];\nconst excludeIds = ['120026283', '248566802', '87390158'];\n\nconst othersTasks = tasks.filter(t => {\n  const assignees = (t.assignees || []).map(a => String(a.id));\n  return !assignees.some(id => excludeIds.includes(id));\n});\n\nreturn [{\n  json: {\n    othersTasks: othersTasks.map(t => ({\n      taskId: t.id,\n      name: t.name,\n      assignees: (t.assignees || []).map(a => a.username || a.email || 'User ' + a.id),\n      dueDate: t.due_date,\n      dueDateFormatted: t.due_date ? new Date(parseInt(t.due_date)).toLocaleDateString('en-US', { month: 'short', day: 'numeric' }) : 'No date',\n      list: t.list?.name || 'Unknown',\n      url: t.url\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1264
      ],
      "id": "b3e653bd-6bbf-47cc-9497-1a2a682b512c",
      "name": "Filter to Others",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Native Google Drive search returns file objects directly\nconst item = $input.first().json;\nif (!item || !item.id) {\n  return [{ json: { notificationDoc: null, message: 'No notification doc found for yesterday' } }];\n}\nreturn [{\n  json: {\n    notificationDoc: {\n      name: item.name,\n      url: item.webViewLink || 'https://drive.google.com/file/d/' + item.id + '/view',\n      id: item.id,\n      modifiedTime: item.modifiedTime || item.modifiedDate\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1456
      ],
      "id": "502b3481-cde7-40a6-bf58-a30351e5f26a",
      "name": "Format Notif Doc",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Native Google Drive search returns file objects directly\nconst item = $input.first().json;\nif (!item || !item.id) {\n  return [{ json: { newsBriefDoc: null, message: 'No news brief found for today' } }];\n}\nreturn [{\n  json: {\n    newsBriefDoc: {\n      name: item.name,\n      url: item.webViewLink || 'https://drive.google.com/file/d/' + item.id + '/view',\n      id: item.id,\n      modifiedTime: item.modifiedTime || item.modifiedDate\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1648
      ],
      "id": "b4f2f7c9-d38e-48be-8962-6dcc78eaed71",
      "name": "Format News Doc",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://public.missiveapp.com/v1/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "shared_label",
              "value": "3e3278ae-b809-4579-90f2-49046133b615"
            },
            {
              "name": "closed",
              "value": "false"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        1840
      ],
      "id": "39482fcd-17a7-4665-acdd-d989eac173cf",
      "name": "Missive: Needs Reply",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "naMGpImlvunQE8Zi",
          "name": "Missive"
        }
      }
    },
    {
      "parameters": {
        "url": "https://public.missiveapp.com/v1/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "shared_label",
              "value": "e5c96ca9-e940-4667-b5ee-0fb58e337916"
            },
            {
              "name": "closed",
              "value": "false"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        1840
      ],
      "id": "d9bff793-9a4e-4aca-9865-4ffc654af8c7",
      "name": "Missive: To-Do",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "naMGpImlvunQE8Zi",
          "name": "Missive"
        }
      }
    },
    {
      "parameters": {
        "url": "https://public.missiveapp.com/v1/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "closed",
              "value": "false"
            },
            {
              "name": "modified_after",
              "value": "={{ Math.floor(DateTime.now().minus({hours: 24}).toSeconds()) }}"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1840
      ],
      "id": "efead134-bb08-4107-b87e-ba6480fb5488",
      "name": "Missive: Recent Open",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "naMGpImlvunQE8Zi",
          "name": "Missive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const needsReply = $('Missive: Needs Reply').all().flatMap(i => i.json.conversations || []);\nconst todo = $('Missive: To-Do').all().flatMap(i => i.json.conversations || []);\nconst recent = $('Missive: Recent Open').all().flatMap(i => i.json.conversations || []);\n\nconst knownConvoIds = new Set([\n  ...needsReply.map(c => c.id),\n  ...todo.map(c => c.id)\n]);\n\nconst possiblyMissed = recent.filter(c => !knownConvoIds.has(c.id));\n\nconst formatConvo = (c) => {\n  // Missive API: subject is always null, use latest_message_subject\n  const subject = c.latest_message_subject || c.subject || '(no subject)';\n  // From: use external_authors (people outside your org)\n  const extAuthors = c.external_authors || c.authors || [];\n  const from = extAuthors.length > 0 ? extAuthors[0].name || extAuthors[0].address : 'Unknown';\n  const fromEmail = extAuthors.length > 0 ? extAuthors[0].address || '' : '';\n  // Age: use last_activity_at (unix seconds)\n  const lastActivity = c.last_activity_at;\n  const ageHours = lastActivity ? Math.floor((Date.now() / 1000 - lastActivity) / 3600) : 0;\n  const age = ageHours < 24 ? ageHours + 'h' : Math.floor(ageHours / 24) + 'd';\n  // URL: use web_url from API\n  const missiveUrl = c.web_url || ('https://mail.missiveapp.com/#inbox/conversations/' + c.id);\n  // Labels for context\n  const labels = c.shared_label_names || '';\n  return { id: c.id, subject, from, fromEmail, age, missiveUrl, labels, receivedAt: lastActivity };\n};\n\nreturn [{\n  json: {\n    emails: {\n      needsReply: needsReply.map(formatConvo),\n      todo: todo.map(formatConvo),\n      possiblyMissed: possiblyMissed.slice(0, 10).map(formatConvo)\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1840
      ],
      "id": "b2ed4ce2-56dc-4e0f-ad5f-78eee1766b25",
      "name": "Filter & Format Emails",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "868hqzpqw",
        "includeMarkdownDescription": true
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3504,
        1072
      ],
      "id": "a9076af6-8203-4da2-b444-63e8b4718365",
      "name": "Daily Brief Prompt",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "alex-ahbadvisors",
        "repository": "alex-os",
        "filePath": "CLAUDE.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2608,
        2032
      ],
      "id": "a41ad9fe-32fe-4462-b7c4-56f24116f867",
      "name": "GitHub: CLAUDE.md",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 2,
      "alwaysOutputData": true,
      "webhookId": "c98ce147-6e73-48c7-8e1e-8178c22feee9",
      "credentials": {
        "githubOAuth2Api": {
          "id": "VsAQA7Ut5keA6h7X",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse CLAUDE.md - native GitHub node returns content in .content (base64)\nconst item = $input.first().json;\nlet md = '';\nif (typeof item.content === 'string' && item.encoding === 'base64') {\n  md = Buffer.from(item.content, 'base64').toString('utf-8');\n} else if (typeof item.content === 'string') {\n  md = item.content;\n} else if (typeof item.data === 'string') {\n  md = item.data;\n} else if (typeof item.body === 'string') {\n  md = item.body;\n} else {\n  md = JSON.stringify(item);\n}\n\nfunction extractSection(text, heading) {\n  const pattern = new RegExp('## ' + heading + '\\\\n([\\\\s\\\\S]*?)(?=\\\\n## |$)');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nconst priorities = extractSection(md, 'Current Priorities');\nconst comms = extractSection(md, 'How to Communicate with Me');\nconst companies = extractSection(md, 'Companies');\n\nreturn [{\n  json: {\n    currentPriorities: priorities,\n    communicationStyle: comms,\n    companies: companies,\n    fullContext: md.substring(0, 8000)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        2032
      ],
      "id": "e6f29d72-ab96-4571-adc0-244951b40ba6",
      "name": "Parse CLAUDE.md",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// === DETERMINISTIC ASSEMBLY ===\n// Builds the entire daily brief from structured data. All links, tables,\n// formatting are deterministic. AI only adds COS Assessment afterward.\n\n// Safe wrappers — if an upstream node hasn't executed or failed, return default\nfunction safeFirst(nodeName, defaultVal = {}) {\n  try { return $(nodeName).first()?.json || defaultVal; } catch(e) { return defaultVal; }\n}\nfunction safeAll(nodeName) {\n  try { return $(nodeName).all().map(i => i.json); } catch(e) { return []; }\n}\n\nconst calendar = safeAll('Format Calendar');\nconst agendas = safeFirst('Format Agendas', { agendas: [] }).agendas || [];\nconst myTasks = safeFirst('Categorize My Tasks', { myTasks: {} }).myTasks || {};\nconst weeklyGoals = safeFirst('Parse Weekly Goals', { weeklyGoals: null }).weeklyGoals || null;\nconst kendraTasks = safeFirst('Format Kendra', { kendraTasks: [] }).kendraTasks || [];\nconst tylerTasks = safeFirst('Format Tyler', { tylerTasks: [] }).tylerTasks || [];\nconst othersTasks = safeFirst('Filter to Others', { othersTasks: [] }).othersTasks || [];\nconst notifDoc = safeFirst('Format Notif Doc', { notificationDoc: null }).notificationDoc || null;\nconst newsDoc = safeFirst('Format News Doc', { newsBriefDoc: null }).newsBriefDoc || null;\nconst emails = safeFirst('Filter & Format Emails', { emails: {} }).emails || {};\n\nconst today = DateTime.now().setZone('America/New_York');\nconst dateStr = today.toFormat('yyyy-MM-dd');\nconst dateFmt = today.toFormat('MMMM d, yyyy');\nconst dayOfWeek = today.toFormat('EEEE');\n\nlet md = '# Daily Brief \\u2014 ' + dateFmt + ', ' + dayOfWeek + '\\n\\n';\n\n// --- COS Assessment placeholder (AI inserts here) ---\nmd += '{{COS_ASSESSMENT}}\\n\\n';\n\n// --- Current Priorities (from CLAUDE.md via GitHub) ---\nconst claudeCtx = safeFirst('Parse CLAUDE.md', {});\nif (claudeCtx.currentPriorities) {\n  md += '## Current Priorities\\n\\n' + claudeCtx.currentPriorities + '\\n\\n';\n}\nif (claudeCtx.communicationStyle) {\n  md += '## Communication Style\\n\\n' + claudeCtx.communicationStyle + '\\n\\n';\n}\n\n// --- News & Notifications ---\nmd += '## News & Notifications\\n';\nmd += '- **Notification Brief** (yesterday): ' + (notifDoc ? '[' + notifDoc.name + '](' + notifDoc.url + ')' : 'Not available') + '\\n';\nmd += '- **News Brief** (today): ' + (newsDoc ? '[' + newsDoc.name + '](' + newsDoc.url + ')' : 'Not available') + '\\n\\n';\n\n// --- Calendar ---\nmd += '## Today\\'s Calendar\\n\\n';\nconst allEvents = calendar.filter(e => !e.isAllDay && e.title);\nconst meetings = allEvents.filter(e => !e.isWorkBlock);\nconst workBlocks = allEvents.filter(e => e.isWorkBlock);\n// Deduplicate meetings (Reclaim may duplicate real meetings across calendars)\nconst seen = new Set();\nconst dedupedMeetings = [];\nfor (const m of meetings) {\n  const key = m.title + '|' + m.startTime;\n  if (!seen.has(key)) {\n    seen.add(key);\n    dedupedMeetings.push(m);\n  }\n}\n\nif (dedupedMeetings.length === 0) {\n  md += 'Clear calendar \\u2014 protect for deep work.\\n\\n';\n} else {\n  for (const e of dedupedMeetings) {\n    const time = e.startTime ? new Date(e.startTime).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', timeZone: 'America/New_York' }) : 'TBD';\n    const endTime = e.endTime ? new Date(e.endTime).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', timeZone: 'America/New_York' }) : '';\n    const names = (e.attendees || []).map(a => a.name).join(', ') || '';\n    const agenda = agendas.find(a => e.title.toLowerCase().includes(a.name.toLowerCase()) || a.name.toLowerCase().includes(e.title.toLowerCase()));\n    const agendaLink = agenda ? ' \\u2014 [Agenda](https://app.clickup.com/t/' + agenda.taskId + ')' : '';\n    md += '- **' + time + (endTime ? '\\u2013' + endTime : '') + '** ' + e.title;\n    if (names) md += ' (' + names + ')';\n    md += agendaLink + '\\n';\n  }\n  md += '\\n';\n}\n\n// --- Capacity ---\nlet meetingMinutes = 0;\nfor (const e of dedupedMeetings) {\n  if (e.startTime && e.endTime) {\n    meetingMinutes += (new Date(e.endTime) - new Date(e.startTime)) / 60000;\n  }\n}\nconst meetingHours = Math.round(meetingMinutes / 60 * 10) / 10;\nconst workWindowHours = 10;\nconst freeHours = Math.max(0, Math.round((workWindowHours - meetingHours) * 10) / 10);\n\nconst sortedMeetings = [...dedupedMeetings].filter(e => e.startTime).sort((a, b) => new Date(a.startTime) - new Date(b.startTime));\nconst workStart = new Date(); workStart.setHours(8, 0, 0, 0);\nconst workEnd = new Date(); workEnd.setHours(18, 0, 0, 0);\nlet maxGapMin = 0;\nlet maxGapStart = workStart;\nlet maxGapEnd = workEnd;\nlet prevEnd = workStart;\nfor (const e of sortedMeetings) {\n  const s = new Date(e.startTime);\n  const en = new Date(e.endTime);\n  const gap = (s - prevEnd) / 60000;\n  if (gap > maxGapMin) { maxGapMin = gap; maxGapStart = prevEnd; maxGapEnd = s; }\n  if (en > prevEnd) prevEnd = en;\n}\nconst finalGap = (workEnd - prevEnd) / 60000;\nif (finalGap > maxGapMin) { maxGapMin = finalGap; maxGapStart = prevEnd; maxGapEnd = workEnd; }\nconst fmtTime = (d) => d.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', timeZone: 'America/New_York' });\n\nmd += '## Today\\'s Capacity\\n';\nmd += '- **' + meetings.length + '** meetings (' + meetingHours + ' hours)\\n';\nmd += '- **' + freeHours + '** hours free (8 AM \\u2013 6 PM work window)\\n';\nif (maxGapMin >= 30) {\n  md += '- Largest free block: ' + fmtTime(maxGapStart) + ' \\u2013 ' + fmtTime(maxGapEnd) + ' (' + Math.round(maxGapMin / 60 * 10) / 10 + ' hours)\\n';\n}\nif (workBlocks.length > 0) {\n  md += '- **Work blocks** (Reclaim): ';\n  md += workBlocks.map(e => {\n    const t = e.startTime ? new Date(e.startTime).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', timeZone: 'America/New_York' }) : '';\n    return e.title + (t ? ' (' + t + ')' : '');\n  }).join(', ');\n  md += '\\n';\n}\nmd += '\\n';\n\n// --- My Action Items ---\nconst overdue = myTasks.overdue || [];\nconst dueToday = myTasks.dueToday || [];\nconst upcoming = myTasks.upcoming || [];\n\nmd += '## My Action Items\\n\\n';\n\nmd += '**Due Today:**\\n';\nif (dueToday.length === 0) md += 'None\\n\\n';\nelse {\n  for (const t of dueToday) md += '- ' + t.name + ' \\u2014 ' + t.list + ' \\u2014 [ClickUp](https://app.clickup.com/t/' + t.taskId + ')\\n';\n  md += '\\n';\n}\n\nmd += '**Overdue:**\\n';\nif (overdue.length === 0) md += 'None\\n\\n';\nelse {\n  for (const t of overdue) md += '- ' + t.name + ' \\u2014 ' + t.daysOverdue + ' days overdue \\u2014 [ClickUp](https://app.clickup.com/t/' + t.taskId + ')\\n';\n  md += '\\n';\n}\n\nmd += '**Possible Today** (upcoming 1-3 days):\\n';\nif (upcoming.length === 0) md += 'None\\n\\n';\nelse {\n  for (const t of upcoming) md += '- ' + t.name + ' \\u2014 due ' + t.dueDateFormatted + ' \\u2014 [ClickUp](https://app.clickup.com/t/' + t.taskId + ')\\n';\n  md += '\\n';\n}\n\n// --- Weekly Goals ---\nmd += '## Weekly Goals\\n';\nif (!weeklyGoals) {\n  md += 'No weekly goals set this week.\\n\\n';\n} else {\n  md += '**' + weeklyGoals.taskName + '** \\u2014 ' + weeklyGoals.completedItems + ' of ' + weeklyGoals.totalItems + ' complete (' + weeklyGoals.completionPct + '%) \\u2014 [ClickUp](https://app.clickup.com/t/' + weeklyGoals.taskId + ')\\n';\n  for (const g of weeklyGoals.goals) md += '- ' + (g.resolved ? '\\u2705' : '\\u2b1c') + ' ' + g.name + ' \\u2014 ' + g.section + '\\n';\n  md += '\\n';\n}\n\n// --- Email ---\nconst nr = emails.needsReply || [];\nconst td = emails.todo || [];\nconst pm = emails.possiblyMissed || [];\n\nmd += '## Email Attention Needed\\n\\n';\n\nmd += '**Needs Reply:**\\n';\nif (nr.length === 0) md += 'None\\n\\n';\nelse {\n  for (const e of nr) md += '- ' + e.subject + ' \\u2014 from ' + e.from + ' \\u2014 ' + e.age + ' \\u2014 [Missive](' + e.missiveUrl + ')\\n';\n  md += '\\n';\n}\n\nmd += '**To-Do:**\\n';\nif (td.length === 0) md += 'None\\n\\n';\nelse {\n  for (const e of td) md += '- ' + e.subject + ' \\u2014 [Missive](' + e.missiveUrl + ')\\n';\n  md += '\\n';\n}\n\nmd += '**Possibly Missed:**\\n';\nif (pm.length === 0) md += 'None\\n\\n';\nelse {\n  for (const e of pm) md += '- ' + e.subject + ' \\u2014 from ' + e.from + ' \\u2014 [Missive](' + e.missiveUrl + ')\\n';\n  md += '\\n';\n}\n\n// --- Team ---\nmd += '## Team Accountability\\n\\n';\n\nmd += '**Kendra (EA):**\\n';\nif (kendraTasks.length === 0) md += 'No tasks due today.\\n\\n';\nelse {\n  for (const t of kendraTasks) md += '- [ ] ' + t.name + ' \\u2014 ' + t.list + ' \\u2014 [ClickUp](https://app.clickup.com/t/' + t.taskId + ')\\n';\n  md += '\\n';\n}\n\nmd += '**Tyler (Home Manager):**\\n';\nif (tylerTasks.length === 0) md += 'No tasks due today.\\n\\n';\nelse {\n  for (const t of tylerTasks) md += '- [ ] ' + t.name + ' \\u2014 [ClickUp](https://app.clickup.com/t/' + t.taskId + ')\\n';\n  md += '\\n';\n}\n\nmd += '**Others \\u2014 Due Within 3 Days:**\\n';\nif (othersTasks.length === 0) md += 'None\\n\\n';\nelse {\n  for (const t of othersTasks) md += '- [ ] ' + t.name + ' \\u2014 assigned to ' + (t.assignees || []).join(', ') + ' \\u2014 due ' + t.dueDateFormatted + ' \\u2014 [ClickUp](https://app.clickup.com/t/' + t.taskId + ')\\n';\n  md += '\\n';\n}\n\n// --- Compute deterministic metrics ---\nconst now = Date.now() / 1000;\nconst oldThreshold = 48 * 3600;\nconst oldEmails = nr.filter(e => e.receivedAt && (now - e.receivedAt) > oldThreshold);\n\nreturn [{\n  json: {\n    date: dateStr,\n    dateFormatted: dateFmt,\n    dayOfWeek,\n    briefMarkdown: md,\n    metrics: {\n      meetingCount: dedupedMeetings.length,\n      meetingHours,\n      freeHours,\n      largestFreeBlockMin: maxGapMin,\n      totalTaskCount: overdue.length + dueToday.length + upcoming.length,\n      totalEmailCount: nr.length + td.length + pm.length,\n      overdueTaskCount: overdue.length,\n      needsReplyCount: nr.length,\n      oldEmailCount: oldEmails.length,\n      weeklyGoalPct: weeklyGoals ? weeklyGoals.completionPct : 0,\n      newsBriefLink: newsDoc?.url || '',\n      notificationBriefLink: notifDoc?.url || ''\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        1072
      ],
      "id": "ea3b5fac-6935-4ae4-9efe-8ad9762d11c0",
      "name": "Deterministic Assembly"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Deterministic Assembly').first().json.briefMarkdown }}",
        "options": {
          "systemMessage": "={{ $json.markdown_description }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3728,
        1072
      ],
      "id": "47a6b476-f14a-490f-b2c5-0b58cfc1a2f7",
      "name": "COS Assessment Agent",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {
          "maxTokensToSample": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.1,
      "position": [
        3808,
        1296
      ],
      "id": "e466724f-186d-4d59-a375-2c4838ac0152",
      "name": "Claude Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "PdQDpy0E1BohbFDv",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine deterministic brief with AI assessment\nconst assembly = $('Deterministic Assembly').first().json;\nconst assessment = $input.first().json.output || $input.first().json.text || '';\n\n// Replace placeholder with AI assessment\nconst finalBrief = assembly.briefMarkdown.replace(\n  '{{COS_ASSESSMENT}}',\n  '## COS Assessment\\n\\n' + assessment + '\\n\\n---'\n);\n\nreturn [{\n  json: {\n    date: assembly.date,\n    dateFormatted: assembly.dateFormatted,\n    dayOfWeek: assembly.dayOfWeek,\n    briefMarkdown: finalBrief,\n    metrics: assembly.metrics\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        1072
      ],
      "id": "beff39d1-95c0-4747-bd31-bb2bff5d9d1b",
      "name": "Build Metadata",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const brief = $json.briefMarkdown;\nconst maxLen = 3500;\nconst truncated = brief.length > maxLen\n  ? brief.substring(0, maxLen) + '\\n\\n_... truncated. See full brief in ClickUp or Google Drive._'\n  : brief;\n\nreturn [{ json: { ...JSON.parse(JSON.stringify($json)), slackBrief: truncated } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1072
      ],
      "id": "8f03e155-f322-4d15-bb53-a6eddd38d20c",
      "name": "Truncate for Slack"
    },
    {
      "parameters": {
        "text": "=:clipboard: *Daily Brief — {{ $json.dateFormatted }} ({{ $json.dayOfWeek }})*\n\n:calendar: *{{ $json.metrics.meetingCount }}* meetings | :warning: *{{ $json.metrics.overdueTaskCount }}* overdue | :email: *{{ $json.metrics.needsReplyCount }}* needs reply | :dart: Weekly goals: *{{ $json.metrics.weeklyGoalPct }}%*\n\n{{ $json.slackBrief }}\n\n---\n<{{ $json.clickupUrl }}|Open in ClickUp>{{ $json.gdriveUrl ? ' | <' + $json.gdriveUrl + '|Google Doc>' : '' }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1936,
        2256
      ],
      "id": "d0c052bd-7f28-4b26-b391-6616095241bb",
      "name": "Slack: Post to #cos",
      "webhookId": "222642d8-8f58-4baf-82ac-752346a3c707",
      "credentials": {
        "slackApi": {
          "id": "DvovCyTPlCPUoL2k",
          "name": "Abel N8N Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://public.missiveapp.com/v1/drafts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n    \"drafts\": {\n      \"send\": true,\n      \"subject\": \"Daily Brief — {{ $json.dateFormatted }}\",\n      \"body\": {{ JSON.stringify($json.briefMarkdown + '\\n\\nOpen in ClickUp: ' + ($json.clickupUrl || '') + ($json.gdriveUrl ? '\\nGoogle Doc: ' + $json.gdriveUrl : '')) }},\n      \"from_field\": {\n        \"address\": \"alex@ahbadvisors.com\",\n        \"name\": \"Alexander Brownstein\"\n      },\n      \"to_fields\": [\n        { \"address\": \"alex@ahbadvisors.com\", \"name\": \"Alex Brownstein\" },\n        { \"address\": \"kendra@ahbadvisors.com\", \"name\": \"Kendra Fidlin\" }\n      ]\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        1264
      ],
      "id": "7212f5ea-f50d-4fd0-ad41-b133c07c5d45",
      "name": "Missive: Email Brief",
      "credentials": {
        "httpBearerAuth": {
          "id": "naMGpImlvunQE8Zi",
          "name": "Missive"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1drgYKl4KU-BjvG9jglGtVWKXto4misU7PnUkgnsYZE8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4976,
        880
      ],
      "id": "b63a4912-ecdb-491f-8d09-ef8f59e5d987",
      "name": "GSheet: Append Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "80VJb4L9NWLlKxVM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Build Metadata').first().json.briefMarkdown }}",
        "name": "={{ DateTime.now().setZone('America/New_York').toFormat('yyyy-MM-dd') + \" — COS Brief\" }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1jJHZSfUUBfXnHQyAFqAxP4n76MOwZf20",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4304,
        1072
      ],
      "id": "cf0673bd-f00b-4163-8446-cef3d058dafb",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=={{ \"[\" + DateTime.now().setZone('America/New_York').toFormat('yyyy-MM-dd') + \"] Daily News Brief\" }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1MhMre0WOCFbpVsl5r6yYkoyxOTJBFfXJ",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2608,
        1648
      ],
      "id": "15aeeea8-a7e5-4910-b55f-ec8eb391f234",
      "name": "GDrive: Get Today's News Brief",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=={{ \"[\" + DateTime.now().setZone('America/New_York').minus({days: 1}).toFormat('yyyy-MM-dd') + \"] Daily Notification summary\" }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1arc_Rw0BBZ3coI6oXc4tDu1J2H0Sr2mg",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2608,
        1456
      ],
      "id": "a25c1d9c-a099-47ac-bc19-7f6cd0060cc6",
      "name": "GDrive: Get Yesterday Notifications",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zCC4OdEB1yyc3uZv",
          "name": "AHB Advisors Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect URLs from created artifacts for downstream notifications\nconst metadata = $('Build Metadata').first().json;\nconst cuTask = $('Create a task').first().json;\nconst gdriveDoc = $('Create file from text').first().json;\n\nconst clickupUrl = cuTask.url || ('https://app.clickup.com/t/' + (cuTask.id || ''));\nconst gdriveUrl = gdriveDoc.webViewLink || gdriveDoc.alternateLink || '';\n\nreturn [{\n  json: {\n    ...metadata,\n    clickupUrl,\n    gdriveUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        1072
      ],
      "id": "d662af94-06d6-4a3d-99b5-731e790f25b2",
      "name": "Collect Artifact URLs",
      "executeOnce": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9011763462",
        "space": "90113618058",
        "folder": "90114444483",
        "list": "901113252145",
        "name": "={{ DateTime.now().setZone('America/New_York').toFormat('yyyy-MM-dd') }} Daily Brief",
        "additionalFields": {
          "content": "={{ $('Build Metadata').first().json.briefMarkdown }}",
          "markdownContent": true,
          "priority": 3,
          "tags": [
            "abel"
          ]
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        4528,
        1072
      ],
      "id": "2a614b18-d18e-4215-8c2f-0621a5ee9f69",
      "name": "Create a task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "WiEsUqUCPM9Xds21",
          "name": "ClickUp Alex Oauth"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 11
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3056,
        928
      ],
      "id": "ec046a80-e7bb-4e84-b29c-71e867752fe0",
      "name": "Wait for All Data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"reclaimBlockTitles\": \"focus time, decompress, lunch, travel time\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -32
      ],
      "id": "3aa21054-fc07-409b-bddc-478cea683e68",
      "name": "Reclaim Block Titles"
    }
  ],
  "connections": {
    "7:45 AM Weekday Trigger": {
      "main": [
        [
          {
            "node": "GCal: Today's Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "CU: Meeting Agendas",
            "type": "main",
            "index": 0
          },
          {
            "node": "CU: My Tasks (Alex)",
            "type": "main",
            "index": 0
          },
          {
            "node": "CU: Weekly Goals",
            "type": "main",
            "index": 0
          },
          {
            "node": "CU: Kendra Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "CU: Tyler Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "CU: Others' Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Missive: Needs Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub: CLAUDE.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "GDrive: Get Today's News Brief",
            "type": "main",
            "index": 0
          },
          {
            "node": "GDrive: Get Yesterday Notifications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reclaim Block Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: CLAUDE.md": {
      "main": [
        [
          {
            "node": "Parse CLAUDE.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CLAUDE.md": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 10
          }
        ]
      ]
    },
    "GCal: Today's Events": {
      "main": [
        [
          {
            "node": "Format Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CU: Meeting Agendas": {
      "main": [
        [
          {
            "node": "Format Agendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CU: My Tasks (Alex)": {
      "main": [
        [
          {
            "node": "Categorize My Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CU: Weekly Goals": {
      "main": [
        [
          {
            "node": "Parse Weekly Goals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CU: Kendra Tasks": {
      "main": [
        [
          {
            "node": "Format Kendra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CU: Tyler Tasks": {
      "main": [
        [
          {
            "node": "Format Tyler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CU: Others' Tasks": {
      "main": [
        [
          {
            "node": "Filter to Others",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missive: Needs Reply": {
      "main": [
        [
          {
            "node": "Missive: To-Do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missive: To-Do": {
      "main": [
        [
          {
            "node": "Missive: Recent Open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missive: Recent Open": {
      "main": [
        [
          {
            "node": "Filter & Format Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Calendar": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Agendas": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Categorize My Tasks": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Parse Weekly Goals": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Format Kendra": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Format Tyler": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Filter to Others": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Format Notif Doc": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Format News Doc": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Filter & Format Emails": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Deterministic Assembly": {
      "main": [
        [
          {
            "node": "Daily Brief Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Brief Prompt": {
      "main": [
        [
          {
            "node": "COS Assessment Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "COS Assessment Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "COS Assessment Agent": {
      "main": [
        [
          {
            "node": "Build Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Metadata": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive: Get Today's News Brief": {
      "main": [
        [
          {
            "node": "Format News Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive: Get Yesterday Notifications": {
      "main": [
        [
          {
            "node": "Format Notif Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Artifact URLs": {
      "main": [
        [
          {
            "node": "GSheet: Append Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Truncate for Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Missive: Email Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Collect Artifact URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for All Data": {
      "main": [
        [
          {
            "node": "Deterministic Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:7:45 AM Weekday Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "versionId": "313ddb30-f81b-4b2c-800d-a29703be8ff0",
  "activeVersionId": "313ddb30-f81b-4b2c-800d-a29703be8ff0",
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-03-10T00:11:31.515Z",
      "createdAt": "2026-03-10T00:11:31.515Z",
      "id": "L1wo431MCPrwlBMG",
      "name": "export"
    },
    {
      "updatedAt": "2026-03-04T23:28:06.506Z",
      "createdAt": "2026-03-04T23:28:06.506Z",
      "id": "N1VDie9PrCm45oEf",
      "name": "daily-brief"
    },
    {
      "updatedAt": "2026-03-04T23:28:06.468Z",
      "createdAt": "2026-03-04T23:28:06.468Z",
      "id": "p1gDI9QAauVslxUO",
      "name": "abel"
    }
  ]
}