n8n-workflows/export-workflow-draft.json
{
  "name": "Export n8n Workflows",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 5 * * 0" }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "a1000001-0000-0000-0000-000000000001",
      "name": "Weekly Sunday Midnight ET"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200],
      "id": "a1000001-0000-0000-0000-000000000002",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "filters": {
          "tags": "export",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [300, 100],
      "id": "a1000001-0000-0000-0000-000000000003",
      "name": "Get Export Workflows",
      "credentials": {
        "n8nApi": {
          "id": "KqRF0URXttyyuyYz",
          "name": "My n8n ahbadvisors"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1hb_KqerZv8fRX04si2lzHXj_NMG2Ww8POED65tDCcsY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [600, 100],
      "id": "a1000001-0000-0000-0000-000000000004",
      "name": "Read Registry",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "80VJb4L9NWLlKxVM",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Parse all workflows, extract metadata, compare hashes, generate descriptions\nconst workflows = $('Get Export Workflows').all();\nconst registryRows = $input.all();\n\n// Build lookup of existing registry entries by workflow ID\nconst existingMap = {};\nfor (const row of registryRows) {\n  const r = row.json;\n  if (r['Workflow ID']) {\n    existingMap[r['Workflow ID']] = {\n      hash: r['Structure Hash'] || '',\n      description: r['Description'] || '',\n      lastUpdated: r['Last Updated'] || ''\n    };\n  }\n}\n\nconst results = [];\n\nfor (const item of workflows) {\n  const wf = item.json;\n  const nodes = wf.nodes || [];\n  const connections = wf.connections || {};\n\n  // --- Parse trigger type ---\n  let triggerType = 'manual';\n  for (const node of nodes) {\n    const t = node.type || '';\n    if (t.includes('scheduleTrigger')) { triggerType = 'schedule'; break; }\n    if (t.includes('webhook') || t.includes('Webhook')) { triggerType = 'webhook'; break; }\n    if (t.includes('slackTrigger')) { triggerType = 'slack'; break; }\n    if (t.includes('executeWorkflowTrigger')) { triggerType = 'sub-workflow'; break; }\n    if (t.includes('manualTrigger')) { triggerType = 'manual'; }\n  }\n\n  // --- Parse output destinations ---\n  const outputs = new Set();\n  for (const node of nodes) {\n    const t = (node.type || '').toLowerCase();\n    if (t.includes('slack') && !t.includes('trigger')) outputs.add('Slack');\n    if (t.includes('clickup')) outputs.add('ClickUp');\n    if (t.includes('googlesheets')) outputs.add('Google Sheets');\n    if (t.includes('googledrive')) outputs.add('Google Drive');\n    if (t.includes('gmail') || t.includes('emailsend')) outputs.add('Email');\n    if (t.includes('github')) outputs.add('GitHub');\n    if (t.includes('datatable')) outputs.add('n8n DataTable');\n    if (t.includes('executeworkflow') && !t.includes('trigger')) outputs.add('Sub-workflow');\n    if (t.includes('httprequest')) outputs.add('HTTP API');\n    if (t.includes('missive') || (node.parameters?.url || '').includes('missive')) outputs.add('Missive');\n  }\n\n  // --- Parse sub-workflow calls ---\n  const subWorkflows = [];\n  for (const node of nodes) {\n    if ((node.type || '').includes('executeWorkflow') && !(node.type || '').includes('Trigger')) {\n      const wfId = node.parameters?.workflowId?.value || node.parameters?.workflowId || '';\n      subWorkflows.push(`${node.name} → ${wfId}`);\n    }\n  }\n\n  // --- Parse input schema (sub-workflows) ---\n  let inputSchema = '';\n  for (const node of nodes) {\n    if ((node.type || '').includes('executeWorkflowTrigger')) {\n      const inputs = node.parameters?.workflowInputs?.values || [];\n      inputSchema = inputs.map(i => `${i.name}: ${i.type || 'string'}`).join(', ');\n    }\n  }\n\n  // --- Compute structure hash ---\n  const nodeTypes = nodes.map(n => `${n.type}:${n.name}`).sort().join('|');\n  const connKeys = Object.entries(connections).map(([k, v]) => {\n    const targets = (v.main || []).flat().map(c => c.node).join(',');\n    return `${k}->${targets}`;\n  }).sort().join('|');\n  const hashInput = nodeTypes + '::' + connKeys;\n  let hash = 0;\n  for (let i = 0; i < hashInput.length; i++) {\n    hash = ((hash << 5) - hash) + hashInput.charCodeAt(i);\n    hash = hash & hash;\n  }\n  const structureHash = Math.abs(hash).toString(16);\n\n  // --- Check if description needs generation ---\n  const existing = existingMap[wf.id];\n  const needsDescription = !existing || existing.hash !== structureHash;\n\n  // --- Generate or preserve description ---\n  let description = '';\n  if (needsDescription) {\n    const triggerDesc = {\n      'schedule': 'Runs on a schedule',\n      'webhook': 'Triggered by webhook',\n      'slack': 'Triggered by Slack events',\n      'sub-workflow': 'Called as a sub-workflow',\n      'manual': 'Manually triggered'\n    }[triggerType] || 'Manually triggered';\n    const outputList = Array.from(outputs);\n    const outputDesc = outputList.length > 0 ? `Outputs to ${outputList.join(', ')}.` : '';\n    const subDesc = subWorkflows.length > 0 ? `Calls: ${subWorkflows.map(s => s.split(' →')[0]).join(', ')}.` : '';\n    description = `${triggerDesc}. ${outputDesc} ${subDesc}`.trim();\n  } else {\n    description = existing.description;\n  }\n\n  // --- Generate clean filename ---\n  const filename = wf.name\n    .replace(/^\\[(\\d+[a-z]?)\\]\\s*/i, '$1-')\n    .replace(/^\\[T\\]\\s*/i, 'tool-')\n    .replace(/[^a-zA-Z0-9\\-]/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '')\n    .toLowerCase() + '.json';\n\n  // --- Check if GitHub push needed ---\n  const needsGitHubPush = !existing || existing.lastUpdated !== wf.updatedAt;\n\n  // --- Build clean workflow JSON (strip sensitive data) ---\n  const cleanWf = { ...wf };\n  delete cleanWf.shared;\n  delete cleanWf.activeVersion;\n  const workflowJson = JSON.stringify(cleanWf, null, 2);\n\n  results.push({\n    json: {\n      workflowId: wf.id,\n      name: wf.name,\n      active: wf.active,\n      triggerType,\n      description,\n      inputSchema,\n      outputDestinations: Array.from(outputs).join(', '),\n      subWorkflowsCalled: subWorkflows.join('; '),\n      tags: (wf.tags || []).map(t => t.name).join(', '),\n      nodeCount: nodes.length,\n      errorHandler: wf.settings?.errorWorkflow || '',\n      structureHash,\n      needsGitHubPush,\n      needsDescription,\n      filename,\n      workflowJson,\n      lastUpdated: wf.updatedAt,\n      lastChecked: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 100],
      "id": "a1000001-0000-0000-0000-000000000005",
      "name": "Parse & Compare"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1hb_KqerZv8fRX04si2lzHXj_NMG2Ww8POED65tDCcsY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Workflow ID": "={{ $json.workflowId }}",
            "Name": "={{ $json.name }}",
            "Active": "={{ $json.active }}",
            "Trigger Type": "={{ $json.triggerType }}",
            "Description": "={{ $json.description }}",
            "Input Schema": "={{ $json.inputSchema }}",
            "Output Destinations": "={{ $json.outputDestinations }}",
            "Sub-workflows Called": "={{ $json.subWorkflowsCalled }}",
            "Tags": "={{ $json.tags }}",
            "Node Count": "={{ $json.nodeCount }}",
            "Error Handler": "={{ $json.errorHandler }}",
            "Structure Hash": "={{ $json.structureHash }}",
            "Last Updated": "={{ $json.lastUpdated }}",
            "Last Checked": "={{ $json.lastChecked }}",
            "GitHub Path": "=n8n-workflows/{{ $json.filename }}"
          },
          "matchingColumns": ["Workflow ID"],
          "schema": [
            { "id": "Workflow ID", "displayName": "Workflow ID", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Name", "displayName": "Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Active", "displayName": "Active", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Trigger Type", "displayName": "Trigger Type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Description", "displayName": "Description", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Input Schema", "displayName": "Input Schema", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Output Destinations", "displayName": "Output Destinations", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Sub-workflows Called", "displayName": "Sub-workflows Called", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Tags", "displayName": "Tags", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Node Count", "displayName": "Node Count", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Error Handler", "displayName": "Error Handler", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Structure Hash", "displayName": "Structure Hash", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Last Updated", "displayName": "Last Updated", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Last Checked", "displayName": "Last Checked", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "GitHub Path", "displayName": "GitHub Path", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1200, 100],
      "id": "a1000001-0000-0000-0000-000000000006",
      "name": "Upsert Registry",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "80VJb4L9NWLlKxVM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "filter-needs-push",
              "leftValue": "={{ $json.needsGitHubPush }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1500, 100],
      "id": "a1000001-0000-0000-0000-000000000007",
      "name": "Filter Changed Only"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1800, 0],
      "id": "a1000001-0000-0000-0000-000000000008",
      "name": "SplitInBatches"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/alex-ahbadvisors/alex-os-automations/contents/n8n-workflows/{{ $json.filename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 0],
      "id": "a1000001-0000-0000-0000-000000000009",
      "name": "Get File SHA",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "githubOAuth2Api": {
          "id": null,
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare GitHub PUT body with base64 content and SHA if updating\nconst shaResponse = $input.first().json;\nconst workflow = $('SplitInBatches').first().json;\n\nconst content = Buffer.from(workflow.workflowJson).toString('base64');\n\nconst body = {\n  message: `Auto-export: ${workflow.name}`,\n  content: content\n};\n\n// If file already exists, include SHA for update\nif (shaResponse && shaResponse.sha) {\n  body.sha = shaResponse.sha;\n}\n\nreturn [{\n  json: {\n    url: `https://api.github.com/repos/alex-ahbadvisors/alex-os-automations/contents/n8n-workflows/${workflow.filename}`,\n    body: body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0],
      "id": "a1000001-0000-0000-0000-000000000010",
      "name": "Prepare PUT"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2700, 0],
      "id": "a1000001-0000-0000-0000-000000000011",
      "name": "Push to GitHub",
      "credentials": {
        "githubOAuth2Api": {
          "id": null,
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJQH5NFPS",
          "mode": "id"
        },
        "text": "=✅ *n8n Workflow Export Complete*\nExported {{ $('Filter Changed Only').all().length }} changed workflow(s) to GitHub.\nRegistry updated: {{ $('Parse & Compare').all().length }} workflows tracked.",
        "otherOptions": { "includeLinkToWorkflow": false }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1800, 300],
      "id": "a1000001-0000-0000-0000-000000000012",
      "name": "Slack Notify Done",
      "credentials": {
        "slackApi": {
          "id": "DvovCyTPlCPUoL2k",
          "name": "Abel N8N Token"
        }
      }
    }
  ],
  "connections": {
    "Weekly Sunday Midnight ET": {
      "main": [[{ "node": "Get Export Workflows", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Get Export Workflows", "type": "main", "index": 0 }]]
    },
    "Get Export Workflows": {
      "main": [[{ "node": "Read Registry", "type": "main", "index": 0 }]]
    },
    "Read Registry": {
      "main": [[{ "node": "Parse & Compare", "type": "main", "index": 0 }]]
    },
    "Parse & Compare": {
      "main": [[{ "node": "Upsert Registry", "type": "main", "index": 0 }]]
    },
    "Upsert Registry": {
      "main": [[{ "node": "Filter Changed Only", "type": "main", "index": 0 }]]
    },
    "Filter Changed Only": {
      "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]]
    },
    "SplitInBatches": {
      "main": [
        [{ "node": "Get File SHA", "type": "main", "index": 0 }],
        [{ "node": "Slack Notify Done", "type": "main", "index": 0 }]
      ]
    },
    "Get File SHA": {
      "main": [[{ "node": "Prepare PUT", "type": "main", "index": 0 }]]
    },
    "Prepare PUT": {
      "main": [[{ "node": "Push to GitHub", "type": "main", "index": 0 }]]
    },
    "Push to GitHub": {
      "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
