n8n-workflows/index-dex-contacts.json
{
  "updatedAt": "2026-04-11T02:25:19.228Z",
  "createdAt": "2025-10-24T12:52:26.902Z",
  "id": "cqULgAUmfXH0bW13",
  "name": "Index Dex Contacts",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        144,
        -160
      ],
      "id": "5ab33587-a488-40c0-bc99-f8d72bc94581",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "Bnq5qZXSemo1JjL8",
          "mode": "list",
          "cachedResultName": "Dex Contacts",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/Bnq5qZXSemo1JjL8"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dexId",
              "keyValue": "={{ $json.contact.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dexId": "={{ $json.contact.id }}",
            "first_name": "={{ $json.contact.first_name }}",
            "last_name": "={{ $json.contact.last_name }}",
            "job_title": "={{ $json.contact.job_title }}",
            "emails": "=|{{ $json.contact.emails }}|",
            "website": "={{ $json.contact.website }}",
            "syncId": "={{ $json.syncId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dexId",
              "displayName": "dexId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "syncId",
              "displayName": "syncId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1040,
        -160
      ],
      "id": "c652462d-9f91-4f4d-ac8f-497b9f93614a",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "fieldsToSplitBy": "syncId",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1264,
        -160
      ],
      "id": "a13d8495-3dbb-43fa-9487-bb3442fa3c46",
      "name": "Summarize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23ef81c0-d51a-413a-adfe-c75bfb4d1a68",
              "name": "syncId",
              "value": "={{ DateTime.now().toISO().split('T').first() }}.{{ $execution.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -160
      ],
      "id": "36371f3d-eeb7-4e1f-a627-b4990be501ac",
      "name": "Sync Settings"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "contacts",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        -160
      ],
      "id": "824e8087-2c5a-40bf-805b-969eef305dd2",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "s8xehWEboCBkOgBd",
          "name": "Supabase alex-os-information"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  const items = $input.all();                     \n  const syncId = $execution.id;\n\n  return items.map(item => ({                                               \n    json: {                              \n      contact: {                                                        \n        id: item.json.id,                    \n        first_name: item.json.first_name || '',                         \n        last_name: item.json.last_name || '',                           \n        job_title: item.json.job_title || '',\n        emails: (item.json.emails || []).join('|').toLowerCase(),       \n        company: item.json.company || '',\n        website: item.json.website || '' \n      },                                     \n      syncId: syncId                                                    \n    }                                                                   \n  }));              "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -160
      ],
      "id": "ce85c98d-3f5b-45fd-9ef7-a595eea4afeb",
      "name": "Transform for DataTable"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Sync Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        []
      ]
    },
    "Sync Settings": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Transform for DataTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform for DataTable": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Ka01FqAuhDXin0Kn"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "069aa126-e059-45bd-a52d-3bf706122277",
  "activeVersionId": null,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-03-10T00:11:31.515Z",
      "createdAt": "2026-03-10T00:11:31.515Z",
      "id": "L1wo431MCPrwlBMG",
      "name": "export"
    },
    {
      "updatedAt": "2026-01-01T21:31:31.119Z",
      "createdAt": "2026-01-01T21:31:31.119Z",
      "id": "erv2iAT6He287ePS",
      "name": "Abel Meeting Assistant"
    }
  ]
}