n8n-workflows/index-missive-labels.json
{
  "name": "Index Missive Labels",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "id": "trigger-missive-001",
      "name": "6 AM Daily"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://public.missiveapp.com/v1/shared_labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "organization", "value": "c7be17b4-c416-4d3a-b20d-62a89a261016" },
            { "name": "limit", "value": "200" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 200],
      "id": "fetch-labels-001",
      "name": "Fetch Missive Labels",
      "credentials": {
        "httpBearerAuth": {
          "id": "naMGpImlvunQE8Zi",
          "name": "Missive"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6e6bOgtFJ0DAQVsO",
          "mode": "list",
          "cachedResultName": "Clickup Clients",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/6e6bOgtFJ0DAQVsO"
        },
        "filters": {
          "conditions": []
        },
        "limit": 50
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [260, 420],
      "id": "get-clients-001",
      "name": "Get All Clients",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Index ALL Missive labels with category/sub_category classification\n// Match recipient client labels to CRM companies\n//\n// Categories:\n//   Action       — labels 0-6 + Written by Abel\n//   Recipients   — under A - Recipients (sub: Current Clients, Prospects, etc.)\n//   REF          — reference/archive labels\n//   Other        — anything else\n\nconst response = $('Fetch Missive Labels').first().json;\nconst allLabels = response.shared_labels || [];\nconst clients = $('Get All Clients').all();\n\n// Identify leaf nodes (no other label has this one as parent)\nconst parentIds = new Set(allLabels.map(l => l.parent).filter(Boolean));\n\n// Build CRM client lookup\nconst clientMap = {};\nfor (const c of clients) {\n  const name = (c.json.company_name || '').toLowerCase().trim();\n  if (name) clientMap[name] = c.json.clickup_id;\n}\n\n// Categorize each label\nfunction categorize(label) {\n  const path = label.name_with_parent_names || label.name;\n  const parts = path.split('/');\n  const top = parts[0];\n\n  // Action labels: 0-6 prefix or \"Written by Abel\"\n  if (/^[0-6]\\s*-/.test(top) || top === 'Written by Abel') {\n    // Sub-category is the top-level label name (groups children with parent)\n    return { category: 'Action', sub_category: top };\n  }\n\n  // Recipients: under A - Recipients\n  if (top === 'A - Recipients') {\n    if (parts.length >= 2) {\n      // Clean sub-category: \"A - Current Clients\" → \"Current Clients\"\n      const rawSub = parts[1];\n      const cleanSub = rawSub.replace(/^[A-H]\\s*-\\s*/, '').trim();\n      return { category: 'Recipients', sub_category: cleanSub };\n    }\n    return { category: 'Recipients', sub_category: '' };\n  }\n\n  // REF labels\n  if (top === 'REF') {\n    if (parts.length >= 2) {\n      return { category: 'REF', sub_category: parts[1] };\n    }\n    return { category: 'REF', sub_category: '' };\n  }\n\n  return { category: 'Other', sub_category: '' };\n}\n\n// Sub-categories eligible for CRM matching\nconst crmMatchCategories = ['Current Clients', 'Prospects', 'Former clients', '3CV'];\n\n// Process all labels\nconst labelRows = [];\nconst clientUpdates = [];\n\nfor (const l of allLabels) {\n  const { category, sub_category } = categorize(l);\n  const path = l.name_with_parent_names || l.name;\n  const isLeaf = !parentIds.has(l.id);\n\n  // CRM matching: only for recipient leaf labels in client-relevant sub-categories\n  let matchedClickupId = '';\n  if (category === 'Recipients' && isLeaf && crmMatchCategories.includes(sub_category)) {\n    // Extract company name: \"FX - Fox\" → \"Fox\"\n    const nameParts = l.name.split(' - ');\n    const extractedName = nameParts.length >= 2\n      ? nameParts.slice(1).join(' - ').trim()\n      : l.name.trim();\n    const extractedLower = extractedName.toLowerCase();\n\n    // Exact match first\n    matchedClickupId = clientMap[extractedLower] || '';\n\n    // Substring match fallback\n    if (!matchedClickupId) {\n      for (const [clientName, clickupId] of Object.entries(clientMap)) {\n        if (clientName.includes(extractedLower) || extractedLower.includes(clientName)) {\n          matchedClickupId = clickupId;\n          break;\n        }\n      }\n    }\n  }\n\n  // All labels go to the Missive Labels table\n  labelRows.push({\n    label_id: l.id,\n    label_name: l.name,\n    category: category,\n    sub_category: sub_category,\n    parent_path: path,\n    is_leaf: isLeaf ? 'true' : 'false',\n    matched_cu_crm_id: matchedClickupId,\n    _outputType: 'label'\n  });\n\n  // Matched client labels also update Clickup Clients\n  if (matchedClickupId) {\n    clientUpdates.push({\n      clickup_id: matchedClickupId,\n      missive_label_id: l.id,\n      _outputType: 'client'\n    });\n  }\n}\n\nconst combined = [...labelRows, ...clientUpdates];\nif (combined.length === 0) return [];\nreturn combined;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300],
      "id": "match-labels-001",
      "name": "Categorize & Match"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "is-label-row",
              "leftValue": "={{ $json._outputType }}",
              "rightValue": "label",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [740, 300],
      "id": "split-output-001",
      "name": "Split by Type"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "0vn16FxfW2ObiSGc",
          "mode": "id"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "label_id",
              "keyValue": "={{ $json.label_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "label_id": "={{ $json.label_id }}",
            "label_name": "={{ $json.label_name }}",
            "category": "={{ $json.category }}",
            "sub_category": "={{ $json.sub_category }}",
            "parent_path": "={{ $json.parent_path }}",
            "is_leaf": "={{ $json.is_leaf }}",
            "matched_cu_crm_id": "={{ $json.matched_cu_crm_id }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label_id", "displayName": "label_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "label_name", "displayName": "label_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "category", "displayName": "category", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "sub_category", "displayName": "sub_category", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "parent_path", "displayName": "parent_path", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "is_leaf", "displayName": "is_leaf", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "matched_cu_crm_id", "displayName": "matched_cu_crm_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [960, 200],
      "id": "upsert-labels-001",
      "name": "Upsert Labels Table"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "6e6bOgtFJ0DAQVsO",
          "mode": "list",
          "cachedResultName": "Clickup Clients",
          "cachedResultUrl": "/projects/tdE5XmVdmL2qzRMP/datatables/6e6bOgtFJ0DAQVsO"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "clickup_id",
              "keyValue": "={{ $json.clickup_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "missive_label_id": "={{ $json.missive_label_id }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "missive_label_id", "displayName": "missive_label_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [960, 420],
      "id": "upsert-client-labels-001",
      "name": "Upsert Client Label IDs"
    }
  ],
  "pinData": {},
  "connections": {
    "6 AM Daily": {
      "main": [
        [
          {
            "node": "Fetch Missive Labels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Missive Labels": {
      "main": [
        [
          {
            "node": "Categorize & Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Clients": {
      "main": [
        [
          {
            "node": "Categorize & Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize & Match": {
      "main": [
        [
          {
            "node": "Split by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Type": {
      "main": [
        [
          {
            "node": "Upsert Labels Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Client Label IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "errorWorkflow": "Ka01FqAuhDXin0Kn"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69b353989b2e2524b2186ce2c707a5fca1ffefa89656be27d70fffcaf2744be4"
  },
  "tags": []
}